
.nk-img-fit,
.nk-img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 575px) {
    .nk-img-fit-xs-down {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 576px) {
    .nk-img-fit-sm-up {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    .nk-img-fit-sm-down {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 768px) {
    .nk-img-fit-md-up {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .nk-img-fit-md-down {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 992px) {
    .nk-img-fit-lg-up {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 1199px) {
    .nk-img-fit-lg-down {
        max-width: 100%;
        height: auto;
    }
}

@media (min-width: 1200) {
    .nk-img-fit-xl-up {
        max-width: 100%;
        height: auto;
    }
}

/*
 * Image Stretch
 */
.nk-img-stretch {
    width: 100%;
    height: auto;
}

/*
 * Circle / Rounded Images Helper
 */
img.circle {
    border-radius: 50%;
}

img.rounded {
    border-radius: 5px;
}

/*
 * Text Align Helper
 */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-justify {
    text-align: justify;
}

/*
 * Vertical Align Helper
 */
.va-t {
    vertical-align: top !important;
}

.va-m {
    vertical-align: middle !important;
}

.va-b {
    vertical-align: bottom !important;
}

.va-s {
    vertical-align: super !important;
}

/*
 * Inline Block Helper
 */
.dib {
    display: inline-block !important;
}

/*
 * Block Helper
 */
.db {
    display: block;
}

/*
 * Cursor Pointer Helper
 */
.cursor {
    cursor: pointer !important;
}

/*
 * Text Transform Helper
 */
.text-uppercase {
    text-transform: uppercase !important;
}

/*
 * Font Weight Helper
 */
.fw-100 {
    font-weight: 100 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-900 {
    font-weight: 900 !important;
}

/*
 * Font Size Helper
 */
.fs-4 {
    font-size: 4px !important;
}

.fs-5 {
    font-size: 5px !important;
}

.fs-6 {
    font-size: 6px !important;
}

.fs-7 {
    font-size: 7px !important;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-9 {
    font-size: 9px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-35 {
    font-size: 35px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-45 {
    font-size: 45px !important;
}

.fs-50 {
    font-size: 50px !important;
}

/*
 * Line Height Helper
 */
.lh-0 {
    line-height: 0px !important;
}

.lh-5 {
    line-height: 5px !important;
}

.lh-10 {
    line-height: 10px !important;
}

.lh-15 {
    line-height: 15px !important;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-25 {
    line-height: 25px !important;
}

.lh-30 {
    line-height: 30px !important;
}

.lh-35 {
    line-height: 35px !important;
}

.lh-40 {
    line-height: 40px !important;
}

.lh-45 {
    line-height: 45px !important;
}

.lh-50 {
    line-height: 50px !important;
}

/*
 * Inherit Font Family
 */
.nk-font-inherit {
    font-family: inherit !important;
}

/*
 * Text Ellipsis Helper
 */
.ellipsis {
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    white-space: nowrap;
}

/*
 * auto height and width
 */
.hauto {
    height: auto !important;
}

.wauto {
    width: auto !important;
}

/*
 * Overflow Helper
 */
.of-a {
    overflow: auto !important;
}

.of-h {
    overflow: hidden !important;
}

.of-v {
    overflow: visible !important;
}

.of-x-a {
    overflow-x: auto !important;
}

.of-x-h {
    overflow-x: hidden !important;
}

.of-x-v {
    overflow-x: visible !important;
}

.of-y-a {
    overflow-y: auto !important;
}

.of-y-h {
    overflow-y: hidden !important;
}

.of-y-v {
    overflow-y: visible !important;
}

/*
 * Border Radius Helper
 */
.br-0 {
    border-radius: 0px !important;
}

.br-1 {
    border-radius: 1px !important;
}

.br-2 {
    border-radius: 2px !important;
}

.br-3 {
    border-radius: 3px !important;
}

.br-4 {
    border-radius: 4px !important;
}

.br-5 {
    border-radius: 5px !important;
}

.br-6 {
    border-radius: 6px !important;
}

.br-7 {
    border-radius: 7px !important;
}

.br-8 {
    border-radius: 8px !important;
}

.br-9 {
    border-radius: 9px !important;
}

.br-10 {
    border-radius: 10px !important;
}

.br-12 {
    border-radius: 12px !important;
}

.br-14 {
    border-radius: 14px !important;
}

.br-16 {
    border-radius: 16px !important;
}

.br-18 {
    border-radius: 18px !important;
}

.br-20 {
    border-radius: 20px !important;
}

.br-25 {
    border-radius: 25px !important;
}

.br-30 {
    border-radius: 30px !important;
}

.br-35 {
    border-radius: 35px !important;
}

/*
 * Paddings Helper
 */
.p-0 {
    padding: 0px !important;
}

.p-1 {
    padding: 1px !important;
}

.p-2 {
    padding: 2px !important;
}

.p-3 {
    padding: 3px !important;
}

.p-4 {
    padding: 4px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-6 {
    padding: 6px !important;
}

.p-7 {
    padding: 7px !important;
}

.p-8 {
    padding: 8px !important;
}

.p-9 {
    padding: 9px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-45 {
    padding: 45px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-60 {
    padding: 60px !important;
}

.p-70 {
    padding: 70px !important;
}

.p-80 {
    padding: 80px !important;
}

.p-90 {
    padding: 90px !important;
}

.p-100 {
    padding: 100px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-1 {
    padding-top: 1px !important;
}

.pt-2 {
    padding-top: 2px !important;
}

.pt-3 {
    padding-top: 3px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-6 {
    padding-top: 6px !important;
}

.pt-7 {
    padding-top: 7px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pt-9 {
    padding-top: 9px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-25 {
    padding-top: 25px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-35 {
    padding-top: 35px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-45 {
    padding-top: 45px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-70 {
    padding-top: 70px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-90 {
    padding-top: 90px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: 1px !important;
}

.pl-2 {
    padding-left: 2px !important;
}

.pl-3 {
    padding-left: 3px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pl-5 {
    padding-left: 5px !important;
}

.pl-6 {
    padding-left: 6px !important;
}

.pl-7 {
    padding-left: 7px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pl-9 {
    padding-left: 9px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-25 {
    padding-left: 25px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-45 {
    padding-left: 45px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pl-70 {
    padding-left: 70px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-90 {
    padding-left: 90px !important;
}

.pl-100 {
    padding-left: 100px !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pr-1 {
    padding-right: 1px !important;
}

.pr-2 {
    padding-right: 2px !important;
}

.pr-3 {
    padding-right: 3px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pr-5 {
    padding-right: 5px !important;
}

.pr-6 {
    padding-right: 6px !important;
}

.pr-7 {
    padding-right: 7px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pr-9 {
    padding-right: 9px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-25 {
    padding-right: 25px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-35 {
    padding-right: 35px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-45 {
    padding-right: 45px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-60 {
    padding-right: 60px !important;
}

.pr-70 {
    padding-right: 70px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-90 {
    padding-right: 90px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-1 {
    padding-bottom: 1px !important;
}

.pb-2 {
    padding-bottom: 2px !important;
}

.pb-3 {
    padding-bottom: 3px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

.pb-5 {
    padding-bottom: 5px !important;
}

.pb-6 {
    padding-bottom: 6px !important;
}

.pb-7 {
    padding-bottom: 7px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

.pb-9 {
    padding-bottom: 9px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-25 {
    padding-bottom: 25px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-35 {
    padding-bottom: 35px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-45 {
    padding-bottom: 45px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-60 {
    padding-bottom: 60px !important;
}

.pb-70 {
    padding-bottom: 70px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-90 {
    padding-bottom: 90px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

/*
 * Margins Helper
 */
.mauto {
    margin-right: auto;
    margin-left: auto;
}

.m-0 {
    margin: 0px !important;
}

.m-1 {
    margin: 1px !important;
}

.m-2 {
    margin: 2px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-4 {
    margin: 4px !important;
}

.m-5 {
    margin: 5px !important;
}

.m-6 {
    margin: 6px !important;
}

.m-7 {
    margin: 7px !important;
}

.m-8 {
    margin: 8px !important;
}

.m-9 {
    margin: 9px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-45 {
    margin: 45px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-60 {
    margin: 60px !important;
}

.m-70 {
    margin: 70px !important;
}

.m-80 {
    margin: 80px !important;
}

.m-90 {
    margin: 90px !important;
}

.m-100 {
    margin: 100px !important;
}

.m-110 {
    margin: 110px !important;
}

.m-120 {
    margin: 120px !important;
}

.m-130 {
    margin: 130px !important;
}

.m-140 {
    margin: 140px !important;
}

.m-150 {
    margin: 150px !important;
}

.m-160 {
    margin: 160px !important;
}

.m-170 {
    margin: 170px !important;
}

.m-180 {
    margin: 180px !important;
}

.m-190 {
    margin: 190px !important;
}

.m-200 {
    margin: 200px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-1 {
    margin-top: 1px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mt-3 {
    margin-top: 3px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-6 {
    margin-top: 6px !important;
}

.mt-7 {
    margin-top: 7px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-9 {
    margin-top: 9px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-35 {
    margin-top: 35px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-45 {
    margin-top: 45px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mt-70 {
    margin-top: 70px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-90 {
    margin-top: 90px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-110 {
    margin-top: 110px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-140 {
    margin-top: 140px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-160 {
    margin-top: 160px !important;
}

.mt-170 {
    margin-top: 170px !important;
}

.mt-180 {
    margin-top: 180px !important;
}

.mt-190 {
    margin-top: 190px !important;
}

.mt-200 {
    margin-top: 200px !important;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-1 {
    margin-left: 1px !important;
}

.ml-2 {
    margin-left: 2px !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.ml-7 {
    margin-left: 7px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.ml-9 {
    margin-left: 9px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-35 {
    margin-left: 35px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-45 {
    margin-left: 45px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-60 {
    margin-left: 60px !important;
}

.ml-70 {
    margin-left: 70px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-90 {
    margin-left: 90px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-110 {
    margin-left: 110px !important;
}

.ml-120 {
    margin-left: 120px !important;
}

.ml-130 {
    margin-left: 130px !important;
}

.ml-140 {
    margin-left: 140px !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.ml-160 {
    margin-left: 160px !important;
}

.ml-170 {
    margin-left: 170px !important;
}

.ml-180 {
    margin-left: 180px !important;
}

.ml-190 {
    margin-left: 190px !important;
}

.ml-200 {
    margin-left: 200px !important;
}

.mr-0 {
    margin-right: 0px !important;
}

.mr-1 {
    margin-right: 1px !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.mr-3 {
    margin-right: 3px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-6 {
    margin-right: 6px !important;
}

.mr-7 {
    margin-right: 7px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mr-9 {
    margin-right: 9px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-35 {
    margin-right: 35px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-45 {
    margin-right: 45px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-60 {
    margin-right: 60px !important;
}

.mr-70 {
    margin-right: 70px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-90 {
    margin-right: 90px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.mr-110 {
    margin-right: 110px !important;
}

.mr-120 {
    margin-right: 120px !important;
}

.mr-130 {
    margin-right: 130px !important;
}

.mr-140 {
    margin-right: 140px !important;
}

.mr-150 {
    margin-right: 150px !important;
}

.mr-160 {
    margin-right: 160px !important;
}

.mr-170 {
    margin-right: 170px !important;
}

.mr-180 {
    margin-right: 180px !important;
}

.mr-190 {
    margin-right: 190px !important;
}

.mr-200 {
    margin-right: 200px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-1 {
    margin-bottom: 1px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-3 {
    margin-bottom: 3px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.mb-9 {
    margin-bottom: 9px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-35 {
    margin-bottom: 35px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-45 {
    margin-bottom: 45px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-70 {
    margin-bottom: 70px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-90 {
    margin-bottom: 90px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-110 {
    margin-bottom: 110px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mb-130 {
    margin-bottom: 130px !important;
}

.mb-140 {
    margin-bottom: 140px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-160 {
    margin-bottom: 160px !important;
}

.mb-170 {
    margin-bottom: 170px !important;
}

.mb-180 {
    margin-bottom: 180px !important;
}

.mb-190 {
    margin-bottom: 190px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

/*
 * Negative Margins Helper
 */
.mn-0 {
    margin: 0px !important;
}

.mn-1 {
    margin: -1px !important;
}

.mn-2 {
    margin: -2px !important;
}

.mn-3 {
    margin: -3px !important;
}

.mn-4 {
    margin: -4px !important;
}

.mn-5 {
    margin: -5px !important;
}

.mn-6 {
    margin: -6px !important;
}

.mn-7 {
    margin: -7px !important;
}

.mn-8 {
    margin: -8px !important;
}

.mn-9 {
    margin: -9px !important;
}

.mn-10 {
    margin: -10px !important;
}

.mn-15 {
    margin: -15px !important;
}

.mn-20 {
    margin: -20px !important;
}

.mn-25 {
    margin: -25px !important;
}

.mn-30 {
    margin: -30px !important;
}

.mn-35 {
    margin: -35px !important;
}

.mn-40 {
    margin: -40px !important;
}

.mn-45 {
    margin: -45px !important;
}

.mn-50 {
    margin: -50px !important;
}

.mn-60 {
    margin: -60px !important;
}

.mn-70 {
    margin: -70px !important;
}

.mn-80 {
    margin: -80px !important;
}

.mn-90 {
    margin: -90px !important;
}

.mn-100 {
    margin: -100px !important;
}

.mn-110 {
    margin: -110px !important;
}

.mn-120 {
    margin: -120px !important;
}

.mn-130 {
    margin: -130px !important;
}

.mn-140 {
    margin: -140px !important;
}

.mn-150 {
    margin: -150px !important;
}

.mn-160 {
    margin: -160px !important;
}

.mn-170 {
    margin: -170px !important;
}

.mn-180 {
    margin: -180px !important;
}

.mn-190 {
    margin: -190px !important;
}

.mn-200 {
    margin: -200px !important;
}

.mnt-0 {
    margin-top: 0px !important;
}

.mnt-1 {
    margin-top: -1px !important;
}

.mnt-2 {
    margin-top: -2px !important;
}

.mnt-3 {
    margin-top: -3px !important;
}

.mnt-4 {
    margin-top: -4px !important;
}

.mnt-5 {
    margin-top: -5px !important;
}

.mnt-6 {
    margin-top: -6px !important;
}

.mnt-7 {
    margin-top: -7px !important;
}

.mnt-8 {
    margin-top: -8px !important;
}

.mnt-9 {
    margin-top: -9px !important;
}

.mnt-10 {
    margin-top: -10px !important;
}

.mnt-15 {
    margin-top: -15px !important;
}

.mnt-20 {
    margin-top: -20px !important;
}

.mnt-25 {
    margin-top: -25px !important;
}

.mnt-30 {
    margin-top: -30px !important;
}

.mnt-35 {
    margin-top: -35px !important;
}

.mnt-40 {
    margin-top: -40px !important;
}

.mnt-45 {
    margin-top: -45px !important;
}

.mnt-50 {
    margin-top: -50px !important;
}

.mnt-60 {
    margin-top: -60px !important;
}

.mnt-70 {
    margin-top: -70px !important;
}

.mnt-80 {
    margin-top: -80px !important;
}

.mnt-90 {
    margin-top: -90px !important;
}

.mnt-100 {
    margin-top: -100px !important;
}

.mnt-110 {
    margin-top: -110px !important;
}

.mnt-120 {
    margin-top: -120px !important;
}

.mnt-130 {
    margin-top: -130px !important;
}

.mnt-140 {
    margin-top: -140px !important;
}

.mnt-150 {
    margin-top: -150px !important;
}

.mnt-160 {
    margin-top: -160px !important;
}

.mnt-170 {
    margin-top: -170px !important;
}

.mnt-180 {
    margin-top: -180px !important;
}

.mnt-190 {
    margin-top: -190px !important;
}

.mnt-200 {
    margin-top: -200px !important;
}

.mnl-0 {
    margin-left: 0px !important;
}

.mnl-1 {
    margin-left: -1px !important;
}

.mnl-2 {
    margin-left: -2px !important;
}

.mnl-3 {
    margin-left: -3px !important;
}

.mnl-4 {
    margin-left: -4px !important;
}

.mnl-5 {
    margin-left: -5px !important;
}

.mnl-6 {
    margin-left: -6px !important;
}

.mnl-7 {
    margin-left: -7px !important;
}

.mnl-8 {
    margin-left: -8px !important;
}

.mnl-9 {
    margin-left: -9px !important;
}

.mnl-10 {
    margin-left: -10px !important;
}

.mnl-15 {
    margin-left: -15px !important;
}

.mnl-20 {
    margin-left: -20px !important;
}

.mnl-25 {
    margin-left: -25px !important;
}

.mnl-30 {
    margin-left: -30px !important;
}

.mnl-35 {
    margin-left: -35px !important;
}

.mnl-40 {
    margin-left: -40px !important;
}

.mnl-45 {
    margin-left: -45px !important;
}

.mnl-50 {
    margin-left: -50px !important;
}

.mnl-60 {
    margin-left: -60px !important;
}

.mnl-70 {
    margin-left: -70px !important;
}

.mnl-80 {
    margin-left: -80px !important;
}

.mnl-90 {
    margin-left: -90px !important;
}

.mnl-100 {
    margin-left: -100px !important;
}

.mnl-110 {
    margin-left: -110px !important;
}

.mnl-120 {
    margin-left: -120px !important;
}

.mnl-130 {
    margin-left: -130px !important;
}

.mnl-140 {
    margin-left: -140px !important;
}

.mnl-150 {
    margin-left: -150px !important;
}

.mnl-160 {
    margin-left: -160px !important;
}

.mnl-170 {
    margin-left: -170px !important;
}

.mnl-180 {
    margin-left: -180px !important;
}

.mnl-190 {
    margin-left: -190px !important;
}

.mnl-200 {
    margin-left: -200px !important;
}

.mnr-0 {
    margin-right: 0px !important;
}

.mnr-1 {
    margin-right: -1px !important;
}

.mnr-2 {
    margin-right: -2px !important;
}

.mnr-3 {
    margin-right: -3px !important;
}

.mnr-4 {
    margin-right: -4px !important;
}

.mnr-5 {
    margin-right: -5px !important;
}

.mnr-6 {
    margin-right: -6px !important;
}

.mnr-7 {
    margin-right: -7px !important;
}

.mnr-8 {
    margin-right: -8px !important;
}

.mnr-9 {
    margin-right: -9px !important;
}

.mnr-10 {
    margin-right: -10px !important;
}

.mnr-15 {
    margin-right: -15px !important;
}

.mnr-20 {
    margin-right: -20px !important;
}

.mnr-25 {
    margin-right: -25px !important;
}

.mnr-30 {
    margin-right: -30px !important;
}

.mnr-35 {
    margin-right: -35px !important;
}

.mnr-40 {
    margin-right: -40px !important;
}

.mnr-45 {
    margin-right: -45px !important;
}

.mnr-50 {
    margin-right: -50px !important;
}

.mnr-60 {
    margin-right: -60px !important;
}

.mnr-70 {
    margin-right: -70px !important;
}

.mnr-80 {
    margin-right: -80px !important;
}

.mnr-90 {
    margin-right: -90px !important;
}

.mnr-100 {
    margin-right: -100px !important;
}

.mnr-110 {
    margin-right: -110px !important;
}

.mnr-120 {
    margin-right: -120px !important;
}

.mnr-130 {
    margin-right: -130px !important;
}

.mnr-140 {
    margin-right: -140px !important;
}

.mnr-150 {
    margin-right: -150px !important;
}

.mnr-160 {
    margin-right: -160px !important;
}

.mnr-170 {
    margin-right: -170px !important;
}

.mnr-180 {
    margin-right: -180px !important;
}

.mnr-190 {
    margin-right: -190px !important;
}

.mnr-200 {
    margin-right: -200px !important;
}

.mnb-0 {
    margin-bottom: 0px !important;
}

.mnb-1 {
    margin-bottom: -1px !important;
}

.mnb-2 {
    margin-bottom: -2px !important;
}

.mnb-3 {
    margin-bottom: -3px !important;
}

.mnb-4 {
    margin-bottom: -4px !important;
}

.mnb-5 {
    margin-bottom: -5px !important;
}

.mnb-6 {
    margin-bottom: -6px !important;
}

.mnb-7 {
    margin-bottom: -7px !important;
}

.mnb-8 {
    margin-bottom: -8px !important;
}

.mnb-9 {
    margin-bottom: -9px !important;
}

.mnb-10 {
    margin-bottom: -10px !important;
}

.mnb-15 {
    margin-bottom: -15px !important;
}

.mnb-20 {
    margin-bottom: -20px !important;
}

.mnb-25 {
    margin-bottom: -25px !important;
}

.mnb-30 {
    margin-bottom: -30px !important;
}

.mnb-35 {
    margin-bottom: -35px !important;
}

.mnb-40 {
    margin-bottom: -40px !important;
}

.mnb-45 {
    margin-bottom: -45px !important;
}

.mnb-50 {
    margin-bottom: -50px !important;
}

.mnb-60 {
    margin-bottom: -60px !important;
}

.mnb-70 {
    margin-bottom: -70px !important;
}

.mnb-80 {
    margin-bottom: -80px !important;
}

.mnb-90 {
    margin-bottom: -90px !important;
}

.mnb-100 {
    margin-bottom: -100px !important;
}

.mnb-110 {
    margin-bottom: -110px !important;
}

.mnb-120 {
    margin-bottom: -120px !important;
}

.mnb-130 {
    margin-bottom: -130px !important;
}

.mnb-140 {
    margin-bottom: -140px !important;
}

.mnb-150 {
    margin-bottom: -150px !important;
}

.mnb-160 {
    margin-bottom: -160px !important;
}

.mnb-170 {
    margin-bottom: -170px !important;
}

.mnb-180 {
    margin-bottom: -180px !important;
}

.mnb-190 {
    margin-bottom: -190px !important;
}

.mnb-200 {
    margin-bottom: -200px !important;
}

/*
 * Opacity
 */
.op-0 {
    opacity: 0 !important;
}

.op-1 {
    opacity: 0.1 !important;
}

.op-2 {
    opacity: 0.2 !important;
}

.op-3 {
    opacity: 0.3 !important;
}

.op-4 {
    opacity: 0.4 !important;
}

.op-5 {
    opacity: 0.5 !important;
}

.op-6 {
    opacity: 0.6 !important;
}

.op-7 {
    opacity: 0.7 !important;
}

.op-8 {
    opacity: 0.8 !important;
}

.op-9 {
    opacity: 0.9 !important;
}

.op-10 {
    opacity: 1 !important;
}

/*
 * Responsive embeds
 */
.responsive-embed {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.responsive-embed.responsive-embed-16x9 {
    padding-bottom: 56.25%;
}

.responsive-embed.responsive-embed-4x3 {
    padding-bottom: 75%;
}

.responsive-embed > .embed-item,
.responsive-embed > iframe,
.responsive-embed > embed,
.responsive-embed > object {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*
 * Keyboard Key
 */
.nk-keyboard {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    padding: 0 7px;
    margin: 5px;
    font-size: 12px;
    line-height: 28px;
    color: #0e0e0e;
    text-align: center;
    background-color: #fff;
    border: 1px solid #8e8e8e;
    border-radius: 3px;
}


/*---------------------------
  Element Tabs
 ----------------------------*/
.nk-tabs .nav-tabs {
    border-bottom: none;
}

.nk-tabs .nav-tabs::after {
    content: "";
    display: block;
    border-bottom: 1px solid;
    opacity: .2;
}

.nk-tabs .nav-tabs .nav-item, .nk-tabs .nav-tabs .nav-item:focus, .nk-tabs .nav-tabs .nav-item:hover,
.nk-tabs .nav-tabs .nav-link,
.nk-tabs .nav-tabs .nav-link:focus,
.nk-tabs .nav-tabs .nav-link:hover,
.nk-tabs .nav-tabs .nav-item.open .nav-link,
.nk-tabs .nav-tabs .nav-item.open .nav-link:focus,
.nk-tabs .nav-tabs .nav-item.open .nav-link:hover,
.nk-tabs .nav-tabs .nav-link.active,
.nk-tabs .nav-tabs .nav-link.active:focus,
.nk-tabs .nav-tabs .nav-link.active:hover {
    color: inherit;
    background-color: transparent;
}

.nk-tabs .nav-tabs .nav-link {
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid transparent;
}

.nk-tabs .nav-tabs .nav-link.active, .nk-tabs .nav-tabs .nav-link.active:focus, .nk-tabs .nav-tabs .nav-link.active:hover {
    border-bottom: 2px solid;
}



.nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
.nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
.nk-pagination .nk-pagination-next .nk-icon-arrow-right,
.nk-pagination .nk-pagination-next .nk-icon-arrow-left {
    position: absolute;
    top: 22px;
}

.nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
.nk-pagination .nk-pagination-next .nk-icon-arrow-right {
    right: 0;
}

.nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
.nk-pagination .nk-pagination-next .nk-icon-arrow-left {
    left: 0;
}
/*---------------------------
  Element Pagination
 ----------------------------*/
.nk-pagination {
    display: block;
}

    .nk-pagination .nk-pagination-prev,
    .nk-pagination .nk-pagination-next {
        position: relative;
        display: inline-block;
        min-height: 65px;
        padding: 17px 0;
        color: inherit;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
    }

        .nk-pagination .nk-pagination-prev.disabled,
        .nk-pagination .nk-pagination-next.disabled {
            pointer-events: none;
            cursor: default;
            opacity: .2;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-left {
            position: absolute;
            top: 22px;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-right {
            right: 0;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-left {
            left: 0;
        }

    .nk-pagination .nk-pagination-prev {
        float: left;
        padding-left: 25px;
        text-align: left;
    }

    .nk-pagination .nk-pagination-next {
        float: right;
        padding-right: 25px;
        text-align: right;
    }

    .nk-pagination nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

        .nk-pagination nav > * {
            display: inline-block;
            padding: 9px;
        }

            .nk-pagination nav > *.nk-pagination-current, .nk-pagination nav > *.nk-pagination-current-white {
                width: 34px;
                height: 34px;
                padding: 6px;
                line-height: 22px;
                color: #fff;
                background-color: #0e0e0e;
                border-radius: 17px;
            }

                .nk-pagination nav > *.nk-pagination-current:hover, .nk-pagination nav > *.nk-pagination-current-white:hover {
                    opacity: 1;
                }

            .nk-pagination nav > *.nk-pagination-current-white {
                color: #0e0e0e;
                background-color: #fff;
            }

        .nk-pagination nav a {
            color: inherit;
            text-decoration: none;
            -webkit-transition: .3s opacity;
            -o-transition: .3s opacity;
            transition: .3s opacity;
        }

            .nk-pagination nav a:hover {
                opacity: .6;
            }

    .nk-pagination.nk-pagination-center .nk-pagination-prev,
    .nk-pagination.nk-pagination-center .nk-pagination-next, .nk-pagination.nk-pagination-left .nk-pagination-prev,
    .nk-pagination.nk-pagination-left .nk-pagination-next, .nk-pagination.nk-pagination-right .nk-pagination-prev,
    .nk-pagination.nk-pagination-right .nk-pagination-next {
        float: none;
    }

    .nk-pagination.nk-pagination-center {
        text-align: center;
    }

    .nk-pagination.nk-pagination-left {
        text-align: left;
    }

    .nk-pagination.nk-pagination-right {
        text-align: right;
    }

.nk-icon-arrow-right, .nk-icon-arrow-left {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-bottom: 12px;
}

    .nk-icon-arrow-right::after, .nk-icon-arrow-right::before, .nk-icon-arrow-left::after, .nk-icon-arrow-left::before {
        content: "";
        position: absolute;
        display: block;
        bottom: -1px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: currentColor;
        -webkit-transition: .2s transform;
        -o-transition: .2s transform;
        transition: .2s transform;
        -webkit-transform-origin: .93px 1px;
        -ms-transform-origin: .93px 1px;
        transform-origin: .93px 1px;
        will-change: transform;
    }

    .nk-icon-arrow-right::after, .nk-icon-arrow-left::after {
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    }

    .nk-icon-arrow-right::before, .nk-icon-arrow-left::before {
        -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }

    .nk-icon-arrow-right:hover::after, .nk-icon-arrow-right.hover::after,
    :hover > .nk-icon-arrow-right::after,
    .hover > .nk-icon-arrow-right::after, .nk-icon-arrow-left:hover::after, .nk-icon-arrow-left.hover::after,
    :hover > .nk-icon-arrow-left::after,
    .hover > .nk-icon-arrow-left::after {
        -webkit-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
        transform: rotate(48deg);
    }

    .nk-icon-arrow-right:hover::before, .nk-icon-arrow-right.hover::before,
    :hover > .nk-icon-arrow-right::before,
    .hover > .nk-icon-arrow-right::before, .nk-icon-arrow-left:hover::before, .nk-icon-arrow-left.hover::before,
    :hover > .nk-icon-arrow-left::before,
    .hover > .nk-icon-arrow-left::before {
        -webkit-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }

    .nk-icon-arrow-right::after, .nk-icon-arrow-right::before {
        right: 0;
        left: auto;
        -webkit-transform-origin: calc(100% - .93px) 1px;
        -ms-transform-origin: calc(100% - .93px) 1px;
        transform-origin: calc(100% - .93px) 1px;
    }





::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: inherit;
    opacity: .5;
}
:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: inherit;
    opacity: .5;
}
::-ms-input-placeholder,
.form-control::-ms-input-placeholder {
    color: inherit;
    opacity: .5;
}
::placeholder,
.form-control::placeholder {
    color: inherit;
    opacity: .5;
}





/* From Style 1 */
.form-control {
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid #404040;
    border-radius: 0;
    -webkit-transition: .3s border, .3s color;
    -o-transition: .3s border, .3s color;
    transition: .3s border, .3s color;
}

.form-control:focus, .form-control.focus, .form-control:active {
    color: inherit;
    background: none;
    border-bottom: 1px solid #fff;
}

input.form-control {
    height: auto;
}

/*
select.form-control {
    padding: 6px 20px;
}*/

select.form-control option {
    color: #000;
}

@-moz-document url-prefix("") {
    select.form-control option {
        color: inherit;
    }
}

select.form-control[multiple] option {
    color: inherit;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
    opacity: .4;
}

/* Input Number */
.nk-form-control-number {
    padding: 4px;
    white-space: nowrap;
    background-color: #0e0e0e;
    border-radius: 2px;
}

.nk-form-control-number > * {
    display: inline-block;
    width: auto;
    padding: 11px 15px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    vertical-align: middle;
    border: 1px solid #fff;
}

.nk-form-control-number .nk-form-control-number-down,
.nk-form-control-number .nk-form-control-number-up {
    min-width: 27px;
    padding: 11px 8px;
    font-family: sans-serif;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: .3s background-color;
    -o-transition: .3s background-color;
    transition: .3s background-color;
}

.nk-form-control-number .nk-form-control-number-down:hover,
.nk-form-control-number .nk-form-control-number-up:hover {
    background-color: #2d2d2d;
}

.nk-form-control-number .nk-form-control-number-down {
    border-right: none;
}

.nk-form-control-number .nk-form-control-number-down::after {
    content: "-";
}

.nk-form-control-number .nk-form-control-number-up {
    border-left: none;
}

.nk-form-control-number .nk-form-control-number-up::after {
    content: "+";
}

.nk-form-control-number input {
    text-align: center;
    -moz-appearance: textfield;
}

.nk-form-control-number input:focus, .nk-form-control-number input.focus, .nk-form-control-number input:active {
    border-color: #fff;
}

.nk-form-control-number input::-webkit-inner-spin-button,
.nk-form-control-number input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
