@model IEnumerable<ChatViewModel>
@{ Layout = "_Layout - Chat";}

@{ var userId = User.GetId();}

<div>
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).UserUserName
        </a>
    }
</div>