@*@model IEnumerable<Chat>
@{ Layout = "_Layout - Chat";}

@{ var userId = User.GetId();}

<div class="chat-body">
    @foreach (var chat in Model)
    {
        <a class="room-button" asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.Id">
            @chat.Users.FirstOrDefault(x => x.UserId != userId).User.UserName
        </a>
    }
</div>*@