html {
    position: relative !important;
    min-height: 100% !important;
}

body {
    font-family: Lato,Noto Sans JP,Noto Sans KR,Noto Sans SC,Noto Sans TC,Open Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    
    background: #202D3B;
}

input.text, input[type='text'], input[type='email'], input[type='password'], input[type='file'], textarea {
    border: solid 1px rgba(255,255,255,0.1);
    padding: 5px 7px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1em;
    color: #eee;
    height: 34px;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

.navbar-light {
    background: #1A232B;
}

footer.footer {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background: #1A232B;
}

.navbar-brand {
    color: white !important
}

.carousel-inner .carousel-item > img {
    -webkit-animation: zoom 20s;
    -o-animation: zoom 20s;
    animation: zoom 20s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1.05, 1.05);
    }

    to {
        
        -webkit-transform: scale(1, 1);
    }
}

@keyframes zoom {
    from {
        transform: scale(1.05, 1.05);   
    }

    to {
        transform: scale(1, 1);
    }
}


nav a {
    transition: 0.3s ease;
    color: white;
}

.nav-link {
    color: white !important;
}


.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }


nk-widget{
    color:white !important
}



.badge-buy {
    display: block;
    position: absolute;
    right: 5em;
    bottom: 16%;
    padding: 0 9px;
    border-radius: 3px;
    color: #fff;
    font-size: 1.8em;
    font-size: 1.7em;
    background: #37b549;
    float: right !important;
}

.nk-image-box-title {
    font-size: 1rem;
}

.badge bg-dark{
    float: right !important;
}



.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

.carousel-caption div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.trickcenter {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}








/* The sidebar menu */
/*.sidenav {
    height: 100%;*/ /* Full-height: remove this if you want "auto" height */
    /*width: 160px;*/ /* Set the width of the sidebar */
    /*position: fixed;*/ /* Fixed Sidebar (stay in place on scroll) */
    /*z-index: 1;*/ /* Stay on top */
    /*top: 60px;*/ /* Stay at the top */
    /*bottom: 100px;
    left: 0;
    background-color: #202D3B;
    overflow-x: hidden;*/ /* Disable horizontal scroll */
    /*padding-top: 20px;
}*/

    /* The navigation menu links */
    /*.sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }*/

        /* When you mouse over the navigation links, change their color */
        /*.sidenav a:hover {
            color: #f1f1f1;
        }*/

/* Style page content */
/*.main {
    margin-left: 160px;*/ /* Same as the width of the sidebar */
    /*padding: 0px 10px;
}*/

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
/*@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}*/
