html {
    position: relative !important;
    height: max-content !important;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #C5C3C0;
    text-align: left;
    background: #161226;
    height: max-content !important;
}

.tilebox-main {
    background: #362946;
}

    .tilebox-main:hover {
        background: #443457;
    }

#roundabout, #detail-badge, #detail-main, #detail-stars, #detail-bits, #detail-sysreqs,
#cart-block-wrap, .baseflap {
    background: #362946;
}

#cart-table > tbody > tr.product.hovcolor:hover, #cart-table > tbody > tr.product.hovcolor:hover > td, #cart-table > tbody > tr.product.hovcolor > td.remove > a {
    background: #443457 !important;
}

    #cart-table > tbody > tr.product.hovcolor > td.remove > a:hover {
        background: #362946 !important;
    }

h1, h2 {
    margin-top: 1em
}

body > div.page-container > header > nav {
    height: 50px;
    padding: 2.3em !important
}

#journey-title {
    font-family: 'Zen Dots', cursive !important;
    /*    font-size: 1vw;*/
}

    #journey-title:hover {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        color: #e08821 !important;
    }

#navbarDropdown, li.nav-item, body > div.page-container > header > nav > div > div > ul > li > form > button, #searchInput, input#searchInput.form-control {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 17px;
}

.form-control, .form-control-language {
    margin-bottom: 15px;
}

div.validation-summary-errors {
    color: #d9534f
}

#gitHubLogo {
    float: right;
    font-style: normal;
}

#cart-icon-main > label > img {
    margin-top: 6px
}

#whoops {
    font-size: 8px
}

a:hover {
    color: #ee8a16;
}

input.text, input[type='text'], input[type='email'], input[type='password'], input[type='file'], input[type='date'], textarea.form-control, .form-control, input#searchInput.form-control {
    border: solid 1px rgba(255,255,255,0.1);
    padding: 5px 7px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.0em;
    color: #eee;
}

.nk-form nk-form-style-1 {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 1.0em;
}

#PaymentMethodId {
    margin-top: 1em
}

#payment-select {
    margin-left: 1em
}

#price-bar {
    font-size: 1.3em;
}

/* CREATE/EDIT GAME (NOT ALL)*/
#ReleaseDate {
    color: #BBC3C0;
    padding-left: 20px
}

#LanguagesItems, #TagsItems {
    height: 185px;
    margin-bottom: 15px;
}

#Languages, #Tags, #ReleaseDate, #Description, #Title, #Price, #Images, #SalePercentage {
    background: #141022 !important;
    border: 1px solid #3b3048 !important;
}

#Title, #Description, #GenreId, #PublisherId, #MininumRequirements, #RecommendedRequirements, #Price, #SalePercentage {
    padding-left: 0.8em
}

#GenreId, #PublisherId, #PaymentMethodId, #SalePercentage {
    border: 1px solid #3b3048;
    height: 45px;
    background: #141022;
}

    #PublisherId > option, #GenreId > option, #PaymentMethodId > option {
        color: #BBC3C0
    }

#LanguagesContainer > label {
    margin-bottom: 20px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

#container-main > main > div > form > input.btn.btn-primary {
    border-radius: 6px;
}

#IsOnSale {
    height: 25px
}

/*---------------------*/
span.price {
    margin-right: 5px
}

.btn.btn-primary {
    margin-top: 20px;
    margin-bottom: 20px;
}

li.nav-item {
    padding-left: 10px
}

.navbar-dark {
    background: #121015;
}

nav a {
    transition: 0.3s ease;
    color: #C5C3C0;
}

.nav-link {
    color: #C5C3C0 !important;
}

    .nav-link:hover, .nav-item:hover, .nav-link.text-light:hover {
        color: #e08821 !important;
        font-weight: 500
    }

.navbar-brand {
    color: #C5C3C0 !important
}

#footerMain {
    position: absolute !important;
    bottom: 0 !important;
    left: auto !important;
    right: auto !important;
    background: #121015;
    height: 4rem;
    margin-top: 2em !important
}

#paginationMain {
    padding-bottom: 20px;
}

#tile-view {
    margin-bottom: 45px !important;
}

.carousel-inner .carousel-item > a > img {
    -webkit-animation: zoom 20s;
    -o-animation: zoom 20s;
    animation: zoom 20s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(1.1, 1.1);
    }

    to {
        -webkit-transform: scale(1, 1);
    }
}

@keyframes zoom {
    from {
        transform: scale(1.1, 1.1);
    }

    to {
        transform: scale(1, 1);
    }
}

#latest {
    padding-top: 45px;
}

#LatestGamesTitle {
    text-align: center
}

.right {
    margin-bottom: 0.4em;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }


nk-widget {
    color: white !important
}

.badge-buy {
    display: block;
    position: absolute;
    right: 5em;
    bottom: 16%;
    padding: 0 9px;
    border-radius: 3px;
    color: #fff;
    font-size: 1.8em;
    font-size: 1.7em;
    background: #37b549;
    float: right !important;
}

.nk-image-box-title {
    font-size: 1rem;
}

.badge bg-dark {
    float: right !important;
}



.carousel-caption {
    position: absolute;
    z-index: 1;
    display: table;
    width: 100%;
    height: 100%;
}

    .carousel-caption div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.trickcenter {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#requiretextssingle-win > tbody > tr > td > div {
    white-space: pre-line;
}

#textinfo-section {
    white-space: pre-line;
}

#cookieConsent {
    color: #1A232B
}

#detail-main > h3 {
    margin: 0
}

a.atitle {
    font-size: 15px !important;
}

#carouselHome {
    width: 100% !important;
    padding: 0 !important;
}

.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

a {
    color: #e08821;
}

#noGames {
    margin-top: 1em;
}

#searchInput {
    font-size: 16px !important;
    font-family: "Motiva Sans", Sans-serif !important;
}

    #searchInput:hover {
        color: #e08821 !important;
    }

input#searchInput.form-control {
    font-size: 16px !important;
    font-family: "Motiva Sans", Sans-serif !important;
}

ul.hotprods-wide li .costblock .price > em {
    left: 2.7em
}

body > div.container-fluid > main > div.nk-pagination.nk-pagination-center {
    margin-bottom: 32px;
}

#cart-icon-main:hover {
    background: #e08821 !important;
    border-radius: 50%;
}

.dropdown-item:hover {
    color: white;
    background: #e08821 !important;
}

#checkout-shopping-button, #clear-shopping-button, #continue-shopping-button {
    margin-bottom: 95px;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 16px 46px;
    margin-left: 50px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    width: 200px;
}

#order-button {
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    width: 220px;
}

#checkout-shopping-button {
    background-color: #48bd26
}

    #checkout-shopping-button:hover {
        background-color: #49ae2b
    }

#clear-shopping-button {
    background-color: #c81f1f
}

    #clear-shopping-button:hover {
        background-color: #b42c2c
    }

#continue-shopping-button {
    background-color: #1B6EF3;
}

    #continue-shopping-button:hover {
        background-color: #1B6EC2;
    }

.page-container {
    position: relative;
    min-height: 100vh;
}

#container-main {
    padding-bottom: 2.5rem;
}

#to-cart-bar {
    position: relative;
    display: -webkit-box;
    display: -moz-inline-box;
    display: inline-block;
    -moz-box-orient: vertical;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    content: "";
    background-size: 18px 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#pay-to-wish-btn {
    float: right
}

#cart-icon-main > label > i {
    color: white
}

a.btn.add-to-wishlist {
    color: white;
    font-weight: 500;
    background: #a263b7;
    justify-content: space-around;
    width: 100%
}

    a.btn.add-to-wishlist:hover {
        background: #89509c;
    }

a.btn-buy.return {
    background: #1B6EF3;
}

    a.btn-buy.return:hover {
        background: #0963f5;
    }

#core-guts {
    padding-top: 10px !important
}

#git-hub-logo {
    color: white
}

    #git-hub-logo:hover {
        color: #e08821;
    }

.table {
    color: white
}

#cookieConsent > a:hover {
    color: #c77f2b !important;
}

/* CART */
#cart-block-wrap {
    display: block;
    clear: left;
    float: left;
    width: 60%;
    margin-right: -60%;
}

#checkout-block-wrap {
    display: block;
    clear: left;
    float: left;
    width: 70%;
    margin-right: -70%;
}

tr.grandtotal td.amount, tr.grandtotal td.amount span.price {
    font-size: 1.2em;
    font-weight: 500;
}

tr.grandtotal td.label {
    padding-right: 0 !important;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
}

#cart-block .tip {
    margin-left: 10px;
    top: 3px;
    opacity: 0.7;
}

#cart-block .slimform .tip {
    top: 5px;
}

#cart-table {
    border-collapse: separate;
}

    #cart-table td {
        position: relative;
        padding: 15px 10px;
        vertical-align: middle;
    }

        #cart-table td.remove div {
            height: 58px;
            content: "";
        }

tr.bortop td {
    border-top: 1px solid #202d3b;
}

tr.spacer td {
    border-top: 1px solid #202d3b;
    padding: 0 !important;
    height: 0 !important;
}

.happy tr.bordered td, .happy tr.bortop td, .happy tr.spacer td {
    border-color: #e1e1e1;
}

td.amount {
    text-align: right;
    font-size: 15px;
    height: 30px;
}

.happy td.amount {
    color: #666;
}

td.amount span.price {
    font-size: 15px;
}

.happy td.amount span.price {
    color: #555;
}

td.amount .subest {
    margin-top: -2px;
    color: #ccc;
}

    td.amount .subest, td.amount .subest span.price * {
        font-size: 11px;
        line-height: 13px;
    }

        td.amount .subest span.price * {
            color: #999;
        }

        td.amount .subest span.price i, td.amount .subest span.price u, td.amount .subest span.price tt {
            font-size: 0.8em;
        }

td.remove {
    width: 14px;
    width: 8px;
    padding: 0 !important;
}

    td.remove a {
        display: -moz-inline-box;
        display: inline-block;
        position: absolute;
        bottom: 3px;
        right: 0;
        margin-left: 7px;
        padding: 8px 6px 8px 10px;
        background: #293747;
        border-radius: 33px 0 0 33px;
        opacity: 0.5;
    }

.happy td.remove a {
    background: #aaa;
}

td.remove a img {
    width: 14px;
    height: 14px;
}

@media not all and (hover:none) {
    td.remove a {
        opacity: 0.0;
        transition: opacity 0.2s;
    }

    tr.hovcolor:hover td.remove a {
        opacity: 1.0;
    }
}

tr.product td {
    padding-top: 12px;
    padding-bottom: 12px;
}

    tr.product td.boxshot {
        min-width: 90px !important;
        width: 128px;
        vertical-align: top !important;
    }

        tr.product td.boxshot.b1x1 {
            min-width: 50px !important;
            width: 50px !important;
        }


tr.product .product-title, tr.product .product-title a, tr.product .product-title a:hover {
    font-weight: 400;
    color: #eee;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#editTop {
    background: #52BBDB;
    text-shadow: none;
    border-radius: 6px;
}

    #editTop:hover {
        background: #569fb5;
    }

select#Languages.form-control, select#Tags.form-control {
    height: 17.5em;
    overflow-y: scroll
}

#editMultiButton {
    top: 40%;
    left: 4%;
    position: relative;
    z-index: 2;
    border: none;
    border-radius: 6px;
    background: #52BBDB;
}

    #editMultiButton:hover {
        background: #569fb5;
    }

/* PAGINATION */
#paginationMain > nav > a.nk-pagination-current-white {
    background-color: #e08821;
}

#paginationMain > nav > a:hover {
    color: #ff8900;
}

/* MANAGE/PROFILE */
#dwn-btn {
    border-radius: 6px;
}

#Input_PhoneNumber {
    background: #141022 !important;
    border: 1px solid #303B48 !important;
    padding: 10px;
}

body > div.page-container > div.container > main > div > div > div.col-md-9 > div {
    background-color: #161226;
}

#email-verification {
    color: #e08821;
}

hr {
    border-top: 1px solid #e08821;
}

#creditCardModalTitle {
    float: left
}

#creditCardModal > div > div > div.modal-header > button {
    float: right
}

.modal-header, .modal-body, .modal-footer {
    background-color: #C5C3C0
}

.modal-label, .modal-title {
    color: #001a66
}

#prof-nav {
    all: unset;
}

#expirationDate:focus, #creditCardNumber:focus {
    background: #E8F0FE
}

#payments-nav {
    float: right
}

    #payments-nav > a {
        border-radius: 6px
    }

#buttons {
    float: right;
    padding-top: 1.7em !important
}

/* PAYMENT */
#ui-datepicker-div {
    padding-top: 3em;
}

    #ui-datepicker-div > table > tbody > tr > td > a {
        color: red
    }

    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > div > select.ui-datepicker-month,
    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > div > select.ui-datepicker-year,
    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > div > select.ui-datepicker-month > option,
    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > div > select.ui-datepicker-year > option {
        border-radius: 6px;
        margin-left: 2px;
        background-color: #1b6ec2;
        padding: 6px;
        color: white;
    }

    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > a.ui-datepicker-prev.ui-corner-all,
    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > a.ui-datepicker-next.ui-corner-all,
    #ui-datepicker-div > table > tbody, #ui-datepicker-div > table,
    #ui-datepicker-div > div.ui-datepicker-buttonpane.ui-widget-content > button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
        display: none
    }

    #ui-datepicker-div > div.ui-datepicker-buttonpane.ui-widget-content > button.ui-datepicker-close.ui-state-default.ui-priority-primary.ui-corner-all {
        border-radius: 6px;
        padding: 0.5em;
        background-color: #1b6ec2;
        position: relative;
        color: white;
        margin-top: 0.3em;
        margin-left: 0.1em;
        border: none;
        font-size: inherit
    }

    #ui-datepicker-div > div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all > a.ui-datepicker-next.ui-corner-all {
        margin-left: 5px
    }

#creditCardNumber, #expirationDate {
    color: black
}

#cardNumberValidationError, #expDateValidationError {
    color: red
}

#modal-button, #btnAdd, #btnBack, #remove {
    border-radius: 6px;
}

#btnBack {
    float: right
}

#wish {
    background-color: #a263b7;
}

    #wish:hover {
        background-color: #89509c;
    }

#creditCardNumber {
    background: #B1AFAC
}

#expDateValidationError {
    -webkit-tap-highlight-color: transparent;
}

#expirationDate:focus {
    background: #E8F0FE
}

/* ADMIN AREA*/
#GameId, #LanguageId, #TagId {
    background: #2f253b;
    height: 3em;
}

    #GameId > option, #LanguageId > option, #TagId > option {
        color: #C5C3C0
    }

.table-hover tbody tr:hover {
    color: #e08821;
}

dl > dd {
    margin-bottom: 15px;
}

/* GAME RATING */
#detail-stars {
    padding: 6px;
    text-align: center;
}

#star-li {
    display: inline-block;
    height: 100%
}

#star:hover {
    color: darkgoldenrod
}

.star-fill {
    color: #e08821
}

.fas.fa-star-half {
    color: #e08821
}

#star-rating {
    margin-top: 0.3em;
    font-size: 20px
}

#rate-title {
    font-size: 1em;
    margin-bottom: 0.2em;
    color: white;
}

/*---------------------------
  GODLIKE
 ----------------------------*/
.nk-tabs .nav-tabs {
    border-bottom: none;
}

    .nk-tabs .nav-tabs::after {
        content: "";
        display: block;
        border-bottom: 1px solid;
        opacity: .2;
    }

    .nk-tabs .nav-tabs .nav-item, .nk-tabs .nav-tabs .nav-item:focus, .nk-tabs .nav-tabs .nav-item:hover,
    .nk-tabs .nav-tabs .nav-link,
    .nk-tabs .nav-tabs .nav-link:focus,
    .nk-tabs .nav-tabs .nav-link:hover,
    .nk-tabs .nav-tabs .nav-item.open .nav-link,
    .nk-tabs .nav-tabs .nav-item.open .nav-link:focus,
    .nk-tabs .nav-tabs .nav-item.open .nav-link:hover,
    .nk-tabs .nav-tabs .nav-link.active,
    .nk-tabs .nav-tabs .nav-link.active:focus,
    .nk-tabs .nav-tabs .nav-link.active:hover {
        color: inherit;
        background-color: transparent;
    }

    .nk-tabs .nav-tabs .nav-link {
        padding: 10px 20px;
        border: none;
        border-bottom: 2px solid transparent;
    }

        .nk-tabs .nav-tabs .nav-link.active, .nk-tabs .nav-tabs .nav-link.active:focus, .nk-tabs .nav-tabs .nav-link.active:hover {
            border-bottom: 2px solid;
        }



.nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
.nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
.nk-pagination .nk-pagination-next .nk-icon-arrow-right,
.nk-pagination .nk-pagination-next .nk-icon-arrow-left {
    position: absolute;
    top: 22px;
}

.nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
.nk-pagination .nk-pagination-next .nk-icon-arrow-right {
    right: 0;
}

.nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
.nk-pagination .nk-pagination-next .nk-icon-arrow-left {
    left: 0;
}

/* PAGINATION */

.nk-pagination {
    display: block;
}

    .nk-pagination .nk-pagination-prev,
    .nk-pagination .nk-pagination-next {
        position: relative;
        display: inline-block;
        min-height: 65px;
        padding: 17px 0;
        color: inherit;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
    }

        .nk-pagination .nk-pagination-prev.disabled,
        .nk-pagination .nk-pagination-next.disabled {
            pointer-events: none;
            cursor: default;
            opacity: .2;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-left {
            position: absolute;
            top: 22px;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-right,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-right {
            right: 0;
        }

        .nk-pagination .nk-pagination-prev .nk-icon-arrow-left,
        .nk-pagination .nk-pagination-next .nk-icon-arrow-left {
            left: 0;
        }

    .nk-pagination .nk-pagination-prev {
        float: left;
        padding-left: 25px;
        text-align: left;
    }

    .nk-pagination .nk-pagination-next {
        float: right;
        padding-right: 25px;
        text-align: right;
    }

    .nk-pagination nav {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

        .nk-pagination nav > * {
            display: inline-block;
            padding: 9px;
        }

            .nk-pagination nav > *.nk-pagination-current, .nk-pagination nav > *.nk-pagination-current-white {
                width: 34px;
                height: 34px;
                padding: 6px;
                line-height: 22px;
                color: #fff;
                background-color: #0e0e0e;
                border-radius: 17px;
            }

                .nk-pagination nav > *.nk-pagination-current:hover, .nk-pagination nav > *.nk-pagination-current-white:hover {
                    opacity: 1;
                }

            .nk-pagination nav > *.nk-pagination-current-white {
                color: #0e0e0e;
                background-color: #fff;
            }

        .nk-pagination nav a {
            color: inherit;
            text-decoration: none;
            -webkit-transition: .3s opacity;
            -o-transition: .3s opacity;
            transition: .3s opacity;
        }

            .nk-pagination nav a:hover {
                opacity: .6;
            }

    .nk-pagination.nk-pagination-center .nk-pagination-prev,
    .nk-pagination.nk-pagination-center .nk-pagination-next, .nk-pagination.nk-pagination-left .nk-pagination-prev,
    .nk-pagination.nk-pagination-left .nk-pagination-next, .nk-pagination.nk-pagination-right .nk-pagination-prev,
    .nk-pagination.nk-pagination-right .nk-pagination-next {
        float: none;
    }

    .nk-pagination.nk-pagination-center {
        text-align: center;
    }

    .nk-pagination.nk-pagination-left {
        text-align: left;
    }

    .nk-pagination.nk-pagination-right {
        text-align: right;
    }

.nk-icon-arrow-right, .nk-icon-arrow-left {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-bottom: 12px;
}

    .nk-icon-arrow-right::after, .nk-icon-arrow-right::before, .nk-icon-arrow-left::after, .nk-icon-arrow-left::before {
        content: "";
        position: absolute;
        display: block;
        bottom: -1px;
        left: 0;
        width: 50%;
        height: 2px;
        background-color: currentColor;
        -webkit-transition: .2s transform;
        -o-transition: .2s transform;
        transition: .2s transform;
        -webkit-transform-origin: .93px 1px;
        -ms-transform-origin: .93px 1px;
        transform-origin: .93px 1px;
        will-change: transform;
    }

    .nk-icon-arrow-right::after, .nk-icon-arrow-left::after {
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
    }

    .nk-icon-arrow-right::before, .nk-icon-arrow-left::before {
        -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
    }

    .nk-icon-arrow-right:hover::after, .nk-icon-arrow-right.hover::after,
    :hover > .nk-icon-arrow-right::after,
    .hover > .nk-icon-arrow-right::after, .nk-icon-arrow-left:hover::after, .nk-icon-arrow-left.hover::after,
    :hover > .nk-icon-arrow-left::after,
    .hover > .nk-icon-arrow-left::after {
        -webkit-transform: rotate(48deg);
        -ms-transform: rotate(48deg);
        transform: rotate(48deg);
        color: #e08821;
    }

    .nk-icon-arrow-right:hover::before, .nk-icon-arrow-right.hover::before,
    :hover > .nk-icon-arrow-right::before,
    .hover > .nk-icon-arrow-right::before, .nk-icon-arrow-left:hover::before, .nk-icon-arrow-left.hover::before,
    :hover > .nk-icon-arrow-left::before,
    .hover > .nk-icon-arrow-left::before {
        -webkit-transform: rotate(-48deg);
        -ms-transform: rotate(-48deg);
        transform: rotate(-48deg);
        color: #e08821;
    }

    .nk-icon-arrow-right::after, .nk-icon-arrow-right::before {
        right: 0;
        left: auto;
        -webkit-transform-origin: calc(100% - .93px) 1px;
        -ms-transform-origin: calc(100% - .93px) 1px;
        transform-origin: calc(100% - .93px) 1px;
    }

::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
    color: inherit;
    opacity: .5;
}

:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
    color: inherit;
    opacity: .5;
}

.form-control {
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
    background: none;
    border: none;
    border-bottom: 1px solid #404040;
    border-radius: 0;
    -webkit-transition: .3s border, .3s color;
    -o-transition: .3s border, .3s color;
    transition: .3s border, .3s color;
}

    .form-control:focus, .form-control.focus, .form-control:active {
        color: inherit;
        background: none;
        border-bottom: 1px solid #fff;
    }

input.form-control {
    height: auto;
}



select.form-control[multiple] option {
    color: inherit;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: transparent;
    opacity: .4;
}

/* Input Number */
.nk-form-control-number {
    padding: 4px;
    white-space: nowrap;
    background-color: #0e0e0e;
    border-radius: 2px;
}

    .nk-form-control-number > * {
        display: inline-block;
        width: auto;
        padding: 11px 15px;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
        vertical-align: middle;
        border: 1px solid #fff;
    }

    .nk-form-control-number .nk-form-control-number-down,
    .nk-form-control-number .nk-form-control-number-up {
        min-width: 27px;
        padding: 11px 8px;
        font-family: sans-serif;
        text-align: center;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: .3s background-color;
        -o-transition: .3s background-color;
        transition: .3s background-color;
    }
