h2#core-guts-title,h2.contentbox-title {}
.contentbox-blurb {z-index:2;position:relative;display:inline-block;max-width:472px;min-height:30px;padding-right:10px;background:transparent;text-align:right;color:#639a00;}
.no-flexbox .contentbox-blurb {display:block;float:right;height:30px;margin-top:20px;line-height:30px;}
@media (max-width:575px) {.contentbox-blurb {display:none !important;}}
#promomidbar {position:relative;margin:35px 0 35px 0;white-space:nowrap;text-align:center !important;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-flex-basis:auto;-ms-flex-basis:auto;flex-basis:auto;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
#promomidbar .midbarpromoad {position:relative;display:-moz-inline-box;display:inline-block;-webkit-flex:0 0 auto;-ms-flex:0 0 auto;flex:0 0 auto;margin:0;margin:5px auto;border:0;padding:0;width:313px;height:100px;overflow:visible;background-color:#1a232b;background-repeat:no-repeat;background-position:50% 50%;}
.no-flexbox #promomidbar #triboxcenter-box {margin-right:10px;margin-left:10px;}
#promomidbar .ribbon {position:absolute;top:-6px;left:-7px;}
.table-scroll-x {overflow-x:auto;}
.table-scroll-x::-webkit-scrollbar {width:7px;height:7px;}
p.intro {font-size:14px;color:#888;}
p.disclaimer {color:#999;font-size:10px;}
.iframe-aspect {position:relative;overflow:hidden;padding-top:56.25%;}
.iframe-aspect iframe {position:absolute;width:100%;height:100%;top:0;left:0;border:0;}
.buyasgift a.btn-buy {padding-right:24px;padding-left:10px;}
.buyasgift a.btn-buy img {position:absolute;top:50%;margin-top:-8px;right:4px;border:0;}
.fb-like.full {border:2px solid #bbb;border-radius:5px;padding:3px;background-color:#fafafa;}
#list-results {margin:0;padding:0;width:100%;}
#list-results thead tr > th {font-size:11px;font-weight:500;color:#bbb;padding-bottom:1px;border-bottom:1px solid #808080;}
.happy #list-results thead tr > th {border-color:#ddd;}
#list-results tr.result-row td {}
#list-results tr.result-row > td {border-bottom:1px solid #202d3b;padding-top:15px;padding-bottom:15px;}
.happy #list-results tr.result-row > td {border-color:#ddd;}
#list-results tr td.noresults {padding:20px 0 20px 20px;font-size:16px;font-weight:500;color:#999;}
#list-results td.detail {}
#list-results td.labels {line-height:1.6em;white-space:nowrap;}
#list-nav {height:50px;text-align:center;}
table.tabular th.label {font-weight:normal;color:#eee;}
.happy table.tabular th.label {color:#4c5059;}
table.list-table {border:0;margin:0;padding:0;width:100%;}
table.list-table tr.list-header {}
table.list-table tr.list-header th {border:0;margin:0;padding:4px;padding-bottom:1px;border-bottom:1px solid #808080;font-size:11px;font-weight:500;color:#bbb;}
.happy table.list-table tr.list-header th {border-color:#ddd;}
table.list-table td {border:0;margin:0;padding:10px;border-bottom:1px solid #202d3b;}
.happy table.list-table td {border-color:#ddd;}
table.list-table th.valign-m, table.list-table td.valign-m {vertical-align:middle;}
table.list-table tr.divider td {border:0;padding:0;font-size:1px;height:1px;border-bottom:1px solid #202d3b;}
.happy table.list-table tr.divider td {border-color:#ccc;}
.thumblinks {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;margin:0;padding:0;border:0;color:#3c75b2;white-space:nowrap;text-align:center;line-height:30px;height:30px;}
.happy .thumblinks {color:#888;}
.thumblinks a,.thumblinks span,.thumblinks b,.thumblinks i {display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;position:relative;margin:0 3px;padding:0 3px;border:0;border-radius:3px;min-width:30px;height:30px;line-height:30px;font-size:19px;font-size:1.4em;font-weight:500;color:#f1f1f1;text-decoration:none;}
.thumblinks a:visited {color:#5391d4;text-decoration:none;}
.thumblinks a:hover {color:#fff;text-decoration:none;}
.happy .thumblinks a,.happy .thumblinks span,.happy .thumblinks b,.happy .thumblinks i {color:#465362;}
.happy .thumblinks a:visited {color:#465362;}
.happy .thumblinks a:hover {color:#fff;}
.thumblinks b {color:#fff;background-color:#202d3b;}
.happy .thumblinks b {color:#222;background-color:#b1b3b5;background-color:rgba(60,60,60,0.2);}
.thumblinks a.thumblink:hover {color:#fff;background-color:#3c75b2;}
.thumblinks span.thumbimg-main-next-disabled, .thumblinks span.thumbimg-main-back-disabled {opacity:0.4;}
.thumblinks a.thumbimg-main-next:after, .thumblinks span.thumbimg-main-next-disabled:after, .thumblinks a.thumbimg-main-back:after, .thumblinks span.thumbimg-main-back-disabled:after {content:'';font-size:0.7em;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.no-flexbox .thumblinks a.thumbimg-main-next:after,.no-flexbox .thumblinks span.thumbimg-main-next-disabled:after,.no-flexbox .thumblinks a.thumbimg-main-back:after,.no-flexbox .thumblinks span.thumbimg-main-back-disabled:after {margin-top:-50%;margin-left:-20%;}
.thumblinks a.thumbimg-main-next:after, .thumblinks span.thumbimg-main-next-disabled:after {content:'\25B6';}
.thumblinks a.thumbimg-main-back:after, .thumblinks span.thumbimg-main-back-disabled:after {content:'\25C0';}
.thumblinks a.thumbimg-main-next:hover, .thumblinks a.thumbimg-main-back:hover {background-color:#3c75b2;}
@media (max-width:380px) {#list-nav {height:auto;}
.thumblinks {height:auto;white-space:normal;}}
#account-guts {}
#account-guts.contentbox {margin-bottom:40px;}
#account-guts h2, #account-guts h3 {margin:0 0 20px 0;}
#account-guts form h3 {margin-bottom:0;padding-top:4px;}
#account-guts.contentbox {position:relative;padding-top:70px;}
#account-guts #tabs {position:absolute;top:0;left:0;right:0;height:45px;right:-1px;text-wrap:nowrap;text-align:left;white-space:nowrap;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
#account-guts #tabs a {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;height:45px;line-height:45px;margin-right:1px;padding:0 2px;background:#293747;color:#ddd;font-size:16px;text-align:center;border-radius:3px 3px 0 0;}
.happy #account-guts #tabs a {background:#f4f4f4;color:#465362;}
#account-guts #tabs a:hover, #account-guts #tabs a:active {text-decoration:none;}
.happy #account-guts #tabs a:hover,.happy #account-guts #tabs a:active {background:#f9f9f9;color:#465362;}
#account-guts #tabs a.active {background:#304052;color:#fff;}
.happy #account-guts #tabs a.active {background:#f9f9f9;color:#465362;}
#account-guts #tabs a.disabled {color:#cccccc;opacity:1.0;cursor:default;}
#account-guts #tabs a.disabled:hover, #account-guts #tabs a.disabled:active {background:#f4f4f4;}
#account-guts #tabs img.tab-alert {position:absolute;top:-10px;left:50%;margin-left:-10px;}
#account-guts #tabs a:after {position:absolute;bottom:6px;left:50%;display:block;overflow:hidden;margin-left:0;width:0;height:2px;background:#888;content:'-';text-indent:101%;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;}
#account-guts #tabs a:hover:after, #account-guts #tabs a.active:after {width:60%;margin-left:-30%;}
#account-guts #tabs a:hover:after {background:#ddd;}
#account-guts #tabs a.active:after, #account-guts #tabs a.active:hover:after {background:#fff;}
.happy #account-guts #tabs a:hover:after {background:#666;}
.happy #account-guts #tabs a.active:after,.happy #account-guts #tabs a.active:hover:after {background:#666;}
.no-flexbox #account-guts #tabs {}
.no-flexbox #account-guts #tabs a.end {margin-right:0;}
.no-flexbox #account-guts #tabs.tabs3 a {width:320px;}
.no-flexbox #account-guts #tabs.tabs3 a.end {width:320px;}
.no-flexbox #account-guts #tabs.tabs4 a {width:240px;}
.no-flexbox #account-guts #tabs.tabs4 a.end {width:239px;}
.no-flexbox #account-guts #tabs.tabs5 a {width:191px;}
.no-flexbox #account-guts #tabs.tabs5 a.end {width:192px;}
.no-flexbox #account-guts #tabs.tabs6 a {width:159px;}
.no-flexbox #account-guts #tabs.tabs6 a.end {width:159px;}
.no-flexbox #account-guts #tabs.tabs7 a {width:136px;}
.no-flexbox #account-guts #tabs.tabs7 a.end {width:138px;}
@media (max-width:575px) {#account-guts.contentbox {padding-top:10px;}
#account-guts #tabs {display:none;}}
#account-guts .tab-content {position:relative;display:none;min-height:300px;padding:0 15px 10px 15px;}
#account-guts .loading {background:url('/images/loading-funnel-120.gif') no-repeat 50% 80px;}
.happy #account-guts .loading {background-image:url('/images/loading-3darrows-100.gif');}
#account-guts .tab-content.active {display:block;}
.divline {margin-bottom:20px;}
.data-row {position:relative;padding-bottom:25px;}
.data-row h4 {padding-top:15px;padding-bottom:10px;font-size:17px;}
.left-icon {display:-moz-inline-box;display:inline-block;-moz-box-orient:top;vertical-align:top;width:86px;padding:10px 20px 0 10px;text-align:center;}
.left-icon .btn-mini {margin-top:2px;}
.left-icon .lt {display:block;}
.happy .left-icon .lt {display:none;}
.left-icon .dk {display:none;}
.happy .left-icon .dk {display:block;}
.data-block {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:top;vertical-align:top;width:100%;max-width:738px;}
.data-row .buttons, .data-block .buttons {position:relative;display:block;margin-top:20px;bottom:0px;white-space:nowrap;text-align:center;}
.data-block td.label, .data-block td.spacer, .data-block td.data, .data-block td.field {line-height:30px;}
.data-block td.label {position:relative;width:150px;}
.data-block td.label .tip {position:relative;top:3px;margin-left:4px;opacity:0.5;}
.data-block input.passreq {border-color:#e96;}
.data-block .data.fullname {font-size:1.5em;color:#fff;}
.data-block .data.nickname {font-size:1.2em;color:#eee;}
.happy .data-block .data.fullname,.happy .data-block .data.nickname {color:inherit;}
#account-terms-btn {z-index:100;position:absolute;top:10px;right:5px;}
#account-delete-btn {z-index:100;position:absolute;top:30px;right:5px;}
#account-settings td label.fancycheckbox {margin-bottom:5px;}
#account-settings td.specs .macspec_select {margin-bottom:4px;}
#payinfo-paytype {position:relative;}
#payinfo-paytype-opts {position:relative;white-space:nowrap;}
#payinfo-paytype a {position:relative;display:inline-block;width:40px;height:26px;margin:0 15px;padding:0;text-decoration:none;}
#payinfo-paytype a:hover {text-decoration:none;}
#payinfo-paytype a.active {}
#payinfo-paytype a:hover:before {position:absolute;top:0;left:0;right:0;bottom:0;display:block;overflow:hidden;background:rgba(255,255,255,0.3);content:'-';text-indent:-200%;}
#payinfo-paytype a:after {position:absolute;bottom:-8px;left:50%;display:block;overflow:hidden;margin-left:0;width:0;height:3px;background:#888;content:'-';text-indent:-200%;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;transition:all .2s ease;}
#payinfo-paytype a.active:after {width:120%;margin-left:-60%;background:#fff;}
.happy #payinfo-paytype a.active:after {background:#111;}
#payinfo-edit-pp .field input[type='text'] {width:300px;}
.view-credit-card {display:block;min-height:26px;line-height:26px;margin:0;}
.view-credit-card span {display:inline-block;float:left;margin-right:20px;}
#cc-view .view-credit-card {float:left;margin-left:0px;}
.view-address {float:left;margin:0;line-height:26px;margin-top:1px;}
#cc-view .view-address {clear:left;float:left;margin-left:80px;margin-bottom:10px;}
.ccard-indent {display:block;margin:0 0 0 20px;}
.address-indent {display:block;margin:0 0 0 20px;}
.cardform,.addrform {width:100%;max-width:380px;}
.cardform #id_CCnumber {width:100%;}
.cardform #id_CCcvv2 {width:52px;}
.ioscardform #id_CCnumber {width:180px;}
.ioscardform #id_CCcvv2 {width:50px;}
.addrform input[type='text'] {width:100%;}
.addrform select {width:100%;}
.addrform #id_CountrySelect {max-width:100%;}
.addrform #id_CountrySelect.mw180 {max-width:180px;}
.addrform #id_CountrySelect.mw260 {max-width:260px;}
.iosaddrform input[type='text'] {width:260px;}
.iosaddrform select {width:260px;}
#id_PPcountrySelect {width:100%;max-width:100%;}
.cardtype {position:relative;display:inline-block;vertical-align:top;width:53px;height:34px;background:url('/images/sprite-card-types.jpg') no-repeat 0px 0px;background-size:200px 200px;background-position:-63px 0px;}
.cardtype.unknown {background-position:-63px 0px;}
.cardtype.visa {background-position:-63px -40px;}
.cardtype.mastercard {background-position:-63px -80px;}
.cardtype.discover {background-position:-63px -120px;}
.cardtype.amex {background-position:-63px -160px;}
.slimform .cardtype {width:40px;height:26px;background-position:-117px 0px;}
.slimform .cardtype.unknown {background-position:-117px 0px;}
.slimform .cardtype.visa {background-position:-117px -40px;}
.slimform .cardtype.mastercard {background-position:-117px -80px;}
.slimform .cardtype.discover {background-position:-117px -120px;}
.slimform .cardtype.amex {background-position:-117px -160px;}
.view-credit-card .cardtype {margin-bottom:1px;width:62px;height:40px;background-position:0px 0px;}
.view-credit-card .cardtype.unknown {background-position:0px 0px;}
.view-credit-card .cardtype.visa {background-position:0px -40px;}
.view-credit-card .cardtype.mastercard {background-position:0px -80px;}
.view-credit-card .cardtype.discover {background-position:0px -120px;}
.view-credit-card .cardtype.amex {background-position:0px -160px;}
.paytype {width:62px;height:40px;display:inline-block;position:relative;background:url('/images/sprite-paytypes-big.png') no-repeat 0px 0px;}
.paytype.unknown {background-position:0px 0px;}
.paytype.visa {background-position:0px -40px;}
.paytype.mastercard {background-position:0px -80px;}
.paytype.discover {background-position:0px -120px;}
.paytype.amex {background-position:0px -160px;}
.paytype.paypal {background-position:0px -200px;}
.paytype.none {background-position:0px -240px;}
.expires-box label {text-transform:uppercase;font-size:10px;color:#666;}
#need-email-verify {display:block;position:relative;text-align:center;padding:30px;margin-bottom:20px;background:#800;border-radius:6px;font-weight:bold;color:#fff;}
.list-table {margin-bottom:15px;}
.ordersn {color:#1a9428;}
.reginfo {color:#188895;}
.happy .crowa {background:#f5f5f5;}
.happy .crowb {background:#f5f5f5;}
span.totalrows {display:inline-block;position:relative;padding-left:10px;font-size:14px;font-weight:bold;height:20px;overflow:visible;color:#777;}
#verify-btn {color:#c36e00;}
#identity-edit .field input.newpass {width:65%;}
#identity-edit .field input.passreq {width:65%;}
#avatar-edit .field input.avatarinput {width:100%;}
#id_SecurityForm .field {position:relative;}
#id_SecurityForm .field #passpower {line-height:1.5em;top:12px;right:10%;}
#id_SecurityForm .uniform input[type='password'] {width:95%;}
#fb-link-btn {background:#445fad !important;color:#fff;padding-left:30px;height:23px;line-height:24px;font-size:13px;}
#fb-link-btn img {position:absolute;left:3px;top:3px;}
#gs-link-btn {background:#3387f9 !important;color:#fff;padding-left:30px;height:23px;line-height:24px;font-size:13px;}
#gs-link-btn svg {position:absolute;left:3px;top:3px;background:#fff;border-radius:2px;}
#gs-link-btn.linking {padding-left:58px;}
#gs-link-btn.linking img {position:absolute;left:5px;top:5px;}
#aa-link-btn {background:#111 !important;color:#fff;padding-left:30px;height:23px;line-height:24px;font-size:13px;}
#aa-link-btn svg {position:absolute;left:3px;top:3px;background:#111;border-radius:2px;}
#aa-link-btn.linking {padding-left:58px;}
#aa-link-btn.linking img {position:absolute;left:5px;top:5px;}
#box-unlinkvia span.svgicon {display:inline-block;float:left;padding:3px;margin-right:10px;border-radius:3px;}
#box-unlinkvia span.apple.svgicon {background:#111;}
#box-unlinkvia span.google.svgicon {background:#fff;}
#box-unlinkvia img.facebook.icon {float:left;margin-right:10px;}
#popbox-results {display:block;margin:58px 20px 64px 20px;text-align:center;}
#popbox-results img.icon {margin-bottom:-13px;}
#box-emailverify {display:block;padding:10px;width:100%;}
#box-emailverify img.icon {float:left;margin-right:10px;}
#box-avatarchooser {display:block;width:513px;width:100%;padding-left:5px;margin-right:15px;font-size:1.3em;font-weight:bold;}
#box-avatarchooser .group {clear:left;display:block;overflow:auto;width:100% min-height:74px;border-bottom:1px solid #ddd;padding:5px 0 5px 0;}
#box-avatarchooser .group h3 {padding:0;margin:0;border:0;padding-bottom:2px;border-bottom:1px solid #ddd;clear:left;}
#box-avatarchooser a {margin:5px;float:left;}
#program-terms-btn {z-index:100;position:absolute;top:20px;right:5px;}
#program-overview .progressdisplay {position:relative;display:block;width:100%;max-width:320px;}
#program-overview .progressdisplay .colorbar {position:relative;width:100%;white-space:nowrap;}
#program-overview .progressdisplay .colorbar label {display:block;width:100%;height:14px;background:#202d3b;overflow:hidden;}
#program-overview .progressdisplay .colorbar div {display:inline-block;float:left;height:14px;background:#3C75B2;}
#program-overview .availabletext {position:relative;display:block;font-size:14px;font-weight:bold;}
#program-overview .availabletext b {color:#fd771d;}
.happy #program-overview .availabletext b {color:#eb5d00;}
#program-overview .progresstext {position:relative;display:block;font-size:12px;font-weight:normal;color:#aaa;}
#program-overview .pendingtext {}
#program-overview .tierlabel1,#program-overview .tierlabel2,#program-overview .tierlabel3 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;}
#program-overview .tierlabel1 {}
#program-overview .tierlabel2 {background:#e3b600;padding-left:9px;padding-right:9px;color:#fff;}
#program-overview .tierlabel3 {}
#program-overview .getstarted {line-height:18px;}
#box-referfriend {display:block;padding:10px;width:100%;}
#box-referrals {display:block;padding:10px;width:100%;}
#box-referrals li {padding:10px 0;}
#box-referrals li:last-child {border:0;}
#box-referrals .noresults {padding:60px;}
#box-programsettings {display:block;padding:10px;width:100%;}
#box-programsettings img.icon {float:left;margin-right:10px;}
#box-programsettings .options {line-height:1.9em;}
#bank-overview {}
#bank-overview .data b.loud {font-size:14px;font-weight:400;color #ffda2e;}
#box-bankfund {display:block;padding:10px;width:100%;}
#box-bankfund table {margin-top:5px;clear:both;}
#box-bankfund #id_BankFundCustomCol {position:relative;}
#box-bankfund #id_BankFundCustomCol #id_BankFundCustom {padding-left:20px;width:70px;}
#box-bankfund #id_BankFundCustomCol img {position:absolute;top:50%;left:10px;margin-top:-6px;}
#box-bankfund img.icon,#box-subscriptioncancel img.icon {float:left;margin-right:10px;}
#box-referfriend img.icon,#box-sharewishlist img.icon {float:left;margin-right:20px;}
#claim-form #claim-form-field {font-size:0.9em;font-weight:normal;}
#claim-form #claim-form-field,#claim-form .btn-mini {vertical-align:text-bottom;}
#points-activity,#bank-activity,#payments-activity {position:relative;padding-top:14px;}
.loading .showmore {display:none;}
.ledger-pointer {z-index:100;position:absolute;top:0px;right:50%;margin-right:-16px;}
.ledger-header {position:relative;border:1px solid #aaa;border-bottom-color:#ccc;background-color:#f0f0f0;left:0px;right:0px;height:20px;overflow:hidden;}
.ledger-header table {width:100%;}
.ledger-header table th {padding:2px 10px;font-size:11px;color:#999;white-space:nowrap;}
#points-activity .col1 {width:18%;}
#points-activity .col2 {width:8%;}
#points-activity .col3 {width:15%;}
#points-activity .col4 {}
#points-activity .col5 {}
#bank-activity .col1 {width:18%;}
#bank-activity .col2 {width:10%;white-space:nowrap;}
#bank-activity .col3 {width:1%;}
#bank-activity .col4 {}
#bank-activity .col5 {}
#payments-activity .col1 {width:18%;}
#payments-activity .col2 {width:12%;white-space:nowrap;}
#payments-activity .col3 {display:none;}
#payments-activity .col4 {width:15%;}
#payments-activity .col5 {width:55%;}
.ledger {position:relative;border:2px solid #aaa;border-top:0;background-color:#293747;left:0px;right:0px;height:320px;overflow:auto;}
.happy .ledger {border-color:#aaa;background-color:#f5f5f5;}
.showmore {display:block;position:relative;left:50%;width:100px;margin-top:2px;margin-left:-50px;height:30px;line-height:30px;border-radius:9px 9px 0 0;background-color:#344659;text-align:center;white-space:nowrap;cursor:pointer;text-decoration:none;}
.showmore:hover {background-color:#3c75b2;text-decoration:none;}
.happy .showmore {background-color:#eaeaea;}
.happy .showmore:hover {background-color:#fafafa;}
.ledger .noactivity {margin-left:30px;}
.ledger .list-table .ptstabld {color:#73b400;}
.ledger .list-table .ptsnotyet {color:#999999;}
.ledger .list-table .fundadd {color:#73b400;}
.ledger .list-table .subpaid {color:#73b400;}
.ledger .list-table .subauth {color:#aaa;}
.ledger .list-table .subfail {color:#bb0000;}
b.subplan {font-size:1.0em;}
.subplan-startagain {padding:0px 6px 0px 6px;}
.subplan-endson {padding:10px 0 20px 0;}
#payblock-cc-extra .field input {max-width:250px;width:100%;}
#subpayinfo-edit-pp .field input {max-width:300px;width:100%;}
a.btn-huge.resume-subscribe {background:#00a8a6;background:#3e98d1;font-size:20px;font-weight:normal !important;}
a.btn-huge.resume-subscribe:hover {background:#dd9a31;background:#ffb400;background:#e77d00;}
a.btn-huge.goto-subscribe {padding:8px 20px 13px 20px;background:#00a8a6;background:#3e98d1;font-size:20px;font-weight:normal !important;}
a.btn-huge.goto-subscribe:hover {background:#dd9a31;background:#ffb400;background:#e77d00;}
a.btn-huge.goto-subscribe span {display:block;font-size:10px;color:#ccc;line-height:10px;text-align:center;}
a.btn-huge.goto-subscribe:hover span {color:#1d2834;}
.list-table-scroll {overflow-x:auto;}
.list-table-scroll::-webkit-scrollbar {width:7px;height:7px;}
.list-table-listnav {position:relative;display:block;margin:20px;text-align:center;}
table.list-table td.boxshot {min-width:90px !important;width:128px;}
table.list-table td.product {}
table.list-table td.review {width:30%;}
table.list-table td .stars {margin-bottom:2px;}
table.list-table td .subject {}
table.list-table td .date {font-size:0.8em;}
table.list-table td .rejected {margin-top:5px;}
table.list-table td.actions {width:20%;}
table.list-table td.actions .btn-mini {margin:0 3px;}
table.list-table td.ddl-license {font-size:12px;font-weight:bold;color:#888;}
table.list-table td.ddl-license span {display:-moz-inline-box;display:inline-block;clear:left;font-size:11px;font-weight:normal;color:#999;padding-right:10px;float:left;line-height:17px;white-space:nowrap;}
table.list-table td.ddl-license b {display:-moz-inline-box;display:inline-block;line-height:17px;font-weight:normal;white-space:nowrap;}
table.list-table td.ddl-license i {color:#888;}
table.list-table td.ddl-info-btn {text-align:center;}
table.list-table td.ddl-info-btn a {min-width:40px;}
@media (max-width:575px) {table.list-table .ddl-license {display:none;}}
#mygames-actionbar,#wishlist-actionbar {position:relative;margin-bottom:10px;}
#mygames-actionbar ul.popmenu, #wishlist-actionbar ul.popmenu {margin:0;}
#mygames-actionbar h3 {margin:0;}
.controlbar {position:relative;padding:10px 0;white-space:nowrap;}
.controlbar label {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;line-height:26px;margin-right:8px;}
.controlbar .menu-wrap {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;margin-right:10px;}
.controlbar a.menu {min-width:120px;margin-right:8px;}
.controlbar ul.popmenu {min-width:150px;}
.controlbar ul.popmenu li a {padding-left:20px;}
.controlbar ul.popmenu li.orderby-selected a {color:#fff;background:#56585c url('/images/icon-popmenu-selected.png') no-repeat left 50%;border-radius:5px;}
.controlbar .smoodge {margin-bottom:10px;}
.controlbar #sharewishlist-btn {margin-right:10px;margin-left:30px;}
.controlbar #togwsn-btn {position:relative;margin-right:10px;min-width:20px;font-weight:500;background:#dfdfdf;}
.controlbar #togwsn-btn b {display:block;position:absolute;top:0;bottom:0;width:20px;background:#3c75b2;border-radius:2px;}
.happy .controlbar #togwsn-btn b {border-color:#ccc;background:#efefef;}
.controlbar #togwsn-btn:hover b {background:#02a3d7;}
.happy .controlbar #togwsn-btn:hover b {background:#f9f9f9;}
.controlbar #togwsn-btn.wsnoff b {left:0;}
.controlbar #togwsn-btn.wsnon b {right:0;}
.controlbar #togwsn-btn.btn-small.wsnoff {padding-left:27px !important;padding-right:8px !important;background:#132131;color:#eee;}
.controlbar #togwsn-btn.btn-small.wsnon {padding-left:8px !important;padding-right:27px !important;background:#062c09;color:#fff;}
.happy .controlbar #togwsn-btn.btn-small.wsnoff {color:#555;background:#efefef;}
.happy .controlbar #togwsn-btn.btn-small.wsnon {color:#555;background:#cdf0c3;}
#box-ddlviewer .multi-serials {width:97%;height:200px;}
#account-orders .note {margin-left:10px;margin-top:18px;}
#impatience-notice {display:block;margin:10px 10px 40px 10px;padding:14px;border-radius:5px;border:1px solid #aaa;text-align:center;}
@media (max-width:575px) {#account-orders .col4 {display:none;}}
@media (max-width:480px) {#account-orders .col2 {display:none;}
#account-orders table.list-table td {padding-right:0;}}
#resubmit-completed {margin:0 auto;width:580px;}
#account-orderedit {margin-left:40px;margin-right:50px;}
#account-orderedit .alert.failtype {font-size:15px;padding:2px 0 6px 0;}
#account-orderedit .imageup {padding:4px 0 10px 0;}
#account-orderedit .imageup input[type='file'] {width:100%;}
#account-orderedit .topnote {margin-bottom:12px;}
#account-orderedit #verify-code {margin-bottom:6px;}
#account-orderedit #resend-result {padding:0 18px;height:25px;line-height:25px;}
@media (max-width:756px) {#account-orderedit {margin:0 1%;}
#resubmit-completed {width:100%;max-width:580px;}}
#account-settings .infosub {padding:8px 0;}
#account-settings .infosub div {padding:3px 5px 8px 40px;}
.checkbox .fancycheckbox select {margin:-2px 2px;min-height:14px;padding-top:3px;padding-bottom:3px;font-size:0.9em;}
.checkbox .fancycheckbox.dimit {opacity:0.7 !important;}
.checkbox .securenote,.checkbox .errornote {padding:4px 0 10px 4px;}
.checkbox .securenote b.bop, .checkbox .errornote b.bop {margin-right:5px;margin-bottom:-2px;float:left;border-radius:20px;background:#af4141;padding:0px 8px;color:#fff !important;}
.specs .macspec_select {margin-top:5px;}
.specs .macspec_select label {margin-right:-25px;}
.specs .macspec_select span {margin-left:25px;}
.specs .specblock {margin:5px 0 15px 45px;padding:10px;border:1px solid #202d3b;background:#3b4f64;border:1px solid #3b4f64;background:#202d3b;}
.happy .specs .specblock {border-color:#ccc;background:#fcfcfc;}
.specs .specblock.closed {display:none;}
.specs .specblock.open {display:block;}
.specs .specblock td.tag {padding-right:20px;font-size:0.9em;color:#999;}
#account-fullsignout,.account-fullsignout {border-top:1px solid #888;margin-top:40px;padding-top:30px;padding-bottom:20px;text-align:center;}
#account-fullsignout a.btn-large, .account-fullsignout a.btn-large {margin-top:10px;background:#b23c3c;}
#box-orderviewer,#box-ddlviewer,#box-reviewviewer {display:block;width:100% -20;}
#box-orderviewer,#box-ddlviewer,#box-reviewviewer {padding:12px;}
#box-ordersummary {display:block;}
#box-ordersummary table,#box-ddlviewer table,#box-reviewviewer table {margin-bottom:0;}
#box-ordersummary a.printer-friendly,#box-ddlviewer a.printer-friendly,#box-reviewviewer a.printer-friendly {background-image:url('/images/icon-printer-friendly.png');background-position:5px 50%;background-repeat:no-repeat;background-size:18px 18px;padding-left:30px;display:inline-block;margin:8px 0;}
#box-ordersummary h3,#box-ddlviewer h3,#box-reviewviewer h3 {padding:7px;}
#box-reviewviewer h3 {margin:0;}
#box-orderviewer {padding:2px 6px;padding:12px;}
#box-ordersummary table, #box-ordersummary-friendly table {margin:0 0 20px 0;padding:0 6px;}
#box-ordersummary h4, #box-ordersummary-friendly h4 {margin-bottom:8px;padding-left:10px;padding-top:4px;}
#box-ordersummary #addrheaders, #box-ordersummary-friendly #addrheaders {display:block;width:100%;padding:0;margin:0;}
#box-ordersummary #addrheaders li, #box-ordersummary-friendly #addrheaders li {list-style-type:none;width:50%;float:left;padding:0;margin:0;}
#box-orderviewer .usernotes {margin-bottom:15px;}
#box-reviewviewer {padding:2px 6px;padding:12px;}
#box-reviewviewer hr {margin:2px 0px 0px 0px;}
#box-reviewviewer .shopper-review {padding-top:12px;}
#box-ddlviewer tr.serialspacer td {height:6px;}
#box-ddlviewer td.padded {padding-left:20px;padding-right:20px;}
#box-ddlviewer td.padded ol.normal {margin-left:0;}
#dka-block, #dka-block td {position:relative;}
.ska-block.txtlinks {padding:0 20px;}
.skalogo {position:absolute;left:20px;top:14px;zoom:50%;}
.skatext {margin:0 20px 0 110px;}
.skabtns {text-align:center;padding:15px 0;}
.skabtns a b {color:#8ce8ff;font-weight:500;}
.skabtns .btn-small.donska {margin:0 10px;}
.ipalogo {position:absolute;left:20px;top:14px;zoom:50%;}
.ipatext {margin:0 20px 0 110px;}
.ipabtns {text-align:center;padding:15px 0;}
.ipabtns a b {color:#8ce8ff;font-weight:500;}
.ipabtns .btn-small.dozipa {margin:0 10px;}
.dkalogo {position:absolute;left:30px;top:7px;width:50px;}
.dkatext {margin:0 20px 0 110px;}
.dkabtns {text-align:center;padding:15px 0;}
.dkabtns a b {color:#8ce8ff;font-weight:500;}
.dkabtns .btn-small.dodka {margin:0 10px;}
#dka-progress {z-index:9;display:none;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(52,70,89,0.7);}
.happy #dka-progress {background:rgba(249,249,249,0.7);}
#dka-progress i {position:absolute;top:0;right:0;bottom:0;left:0;background:url('/images/colorbox-loading-bg.png') no-repeat 50% 50%;}
#dka-progress b {position:absolute;top:0;right:0;bottom:0;left:0;background:url('/images/colorbox-loading.gif') no-repeat 50% 50%;}
#uplay-connect-widget {border-radius:5px;margin:10px;padding:12px;border:1px solid #31f4fd;background:#273444;}
.centered {text-align:center;}
#uc-title {margin-bottom:10px;}
#uc-title .logo {width:24px;height:auto;vertical-align:text-bottom;}
#uc-loading {margin:14px;}
#uc-signinbtn {margin:12px;}
#uc-userinfo {margin:12px;text-align:center;}
#uc-avatar {width:35px;height:auto;vertical-align:middle;margin-bottom:4px;margin-right:8px;border-radius:20px;background-color:#1a232b;}
#uc-username {font-weight:bold;color:#fff;}
#uc-activatebtn {margin:10px;}
#uc-signoutbtn {margin:10px;}
#uc-orderinfo {font-size:0.9em;}
#box-dkaprocess {}
#dka-header {padding:20px;border-bottom:1px solid #31f4fd;background:#000;}
#dka-header .logo {width:24px;height:auto;vertical-align:text-bottom;}
#dka-product {margin:20px;}
#dka-product .details {display:table-cell;padding:10px;color:#fff;font-size:1.1em;}
#dka-product .product-title {}
#dka-instructions {margin:30px;}
#dka-moreinstructions {margin:30px;}
#dka-moreinstructions li {padding-left:50px;text-indent:-50px;}
#box-dkaprocess #uplay-connect-widget {margin:25px;}
#dka-redeemprogress {z-index:9;display:none;position:absolute;top:0;right:0;bottom:0;left:0;background:rgba(52,70,89,0.7);}
.happy #dka-redeemprogress {background:rgba(249,249,249,0.7);}
#dka-redeemprogress i {position:absolute;top:0;right:0;bottom:0;left:0;background:url('/images/colorbox-loading-bg.png') no-repeat 50% 50%;}
#dka-redeemprogress b {position:absolute;top:0;right:0;bottom:0;left:0;background:url('/images/colorbox-loading.gif') no-repeat 50% 50%;}
@media (max-width:480px) {#cart-block-wrap #uplay-connect-widget {margin:0px;}}
#ipaframe {z-index:666666;position:fixed;left:20px;top:20px;background:#fafafa;min-width:400px;min-height:600px;width:auto;height:auto;}
@media (max-width:575px) {#account-guts .tab-content {padding:10px 5px 10px 5px;}
.specs .specblock {margin:5px 0 15px 5px;padding:5px;}}
#wishlist-search-box {padding:10px;}
#wishlist-search-box .t4 {display:block;padding-bottom:8px;}
#wishlist-search-box .search-field {width:180px;}
#wishlist-search-info {padding:10px;font-size:12px;}
#wishlists-main h3 {margin-bottom:0;}
#wishlists-main td {}
#wishlists-main td.avatar {width:80px;}
#wishlists-main td.person-details {}
#wishlists-main td.person-details a {font-size:16px;}
#wishlists-main td.list-numitems {font-size:18px;font-weight:bold;white-space:nowrap;}
#share-list {padding:0;margin:0 0 30px 0;}
#share-list li {position:relative;display:block;list-style-type:none;margin-left:0px;padding:5px 0;overflow:hidden;}
#wishlist-actionbar {position:relative;margin-bottom:10px;}
#wishlist-actionbar ul.popmenu {margin:0;}
#controlbar {position:relative;padding:10px 0;white-space:nowrap;}
#controlbar label {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;line-height:26px;margin-right:8px;}
#controlbar .menu-wrap {position:relative;display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;margin-right:10px;}
#controlbar a.menu {min-width:120px;margin-right:8px;}
#controlbar ul.popmenu {min-width:150px;}
#controlbar ul.popmenu li a {padding-left:20px;}
#controlbar ul.popmenu li.orderby-selected a {color:#fff;background:#56585c url('/images/icon-popmenu-selected.png') no-repeat left 50%;border-radius:5px;}
#controlbar .smoodge {margin-bottom:10px;}
#controlbar #sharewishlist-btn {margin-right:10px;margin-left:30px;}
#controlbar #togwsn-btn {position:relative;margin-right:10px;min-width:20px;font-weight:500;background:#dfdfdf;}
#controlbar #togwsn-btn b {display:block;position:absolute;top:0;bottom:0;width:20px;background:#3c75b2;border-radius:2px;}
.happy #controlbar #togwsn-btn b {border-color:#ccc;background:#efefef;}
#controlbar #togwsn-btn:hover b {background:#02a3d7;}
.happy #controlbar #togwsn-btn:hover b {background:#f9f9f9;}
#controlbar #togwsn-btn.wsnoff b {left:0;}
#controlbar #togwsn-btn.wsnon b {right:0;}
#controlbar #togwsn-btn.btn-small.wsnoff {padding-left:27px !important;padding-right:8px !important;background:#132131;color:#eee;}
#controlbar #togwsn-btn.btn-small.wsnon {padding-left:8px !important;padding-right:27px !important;background:#062c09;color:#fff;}
.happy #controlbar #togwsn-btn.btn-small.wsnoff {color:#555;background:#efefef;}
.happy #controlbar #togwsn-btn.btn-small.wsnon {color:#555;background:#cdf0c3;}
tr.divider td {border:0;padding:0;font-size:1px;height:1px;border-bottom:1px solid #202d3b;}
.happy tr.divider td {border-color:#ccc;}
tr.product {position:relative;}
tr.product td {position:relative;border:0;padding:10px;vertical-align:middle;}
tr.product td.boxshot {width:128px;}
tr.product td.details {}
tr.product td.details .product-title {}
tr.product td.details .product-type {white-space:nowrap;font-size:11px;}
tr.product td.desire {text-align:center;white-space:nowrap;}
tr.product td.desire select {cursor:pointer;margin:-2px 2px;min-height:14px;padding-top:3px;padding-bottom:3px;font-size:0.9em;}
tr.product td.desire .saved {display:block;position:absolute;left:0;right:0;bottom:4px;text-align:center;white-space:nowrap;font-size:12px;font-weight:400;color:#94e700;}
.happy tr.product td.desire .saved {color:#0b0;}
tr.product td.added, tr.product td.details .added, tr.product td.cost .added {line-height:1.3;font-size:11px;text-align:center;white-space:nowrap;}
tr.product td.cost {white-space:nowrap;text-align:right;}
tr.product td.cost .added {display:none;text-align:right;padding-top:12px;margin-bottom:-4px;line-height:10px;}
tr.product td.cost .added div {display:inline-block;margin:0 2px;}
tr.product td.cost .otherstore {font-size:0.85em;}
@media (max-width:756px) {tr.list-header th.desire {display:none;}
tr.product td.desire {display:none;}
tr.product td.added {display:none;}
tr.product td.cost .added {display:block;}}
@media (max-width:575px) {#controlbar #sharewishlist-btn {margin-left:10px;}}
@media (max-width:480px) {tr.product td.details {display:block;text-align:left;padding-bottom:4px;}
tr.product td.cost {display:block;text-align:right;padding-top:0;}
#account-wishlist tr.product td.boxshot {vertical-align:top;}}
@media (max-width:370px) {#controlbar .menu-wrap {margin-right:0px;}
#controlbar .smoodge {float:none !important;display:block !important;text-align:right;}}
#shopper-reviews ol {list-style-type:none;margin:0;padding:0;}
#shopper-reviews ol li {display:block;overflow:hidden;margin:0;padding:25px 0 0 0;border-bottom:1px solid #202d3b;}
.happy #shopper-reviews ol li {border-color:#ebebeb;}
#shopper-reviews ol li:last-child {border-bottom:0;}
#shopper-reviews .noreviews {text-align:center;padding-top:60px;}
#shopper-reviews .noreviews-write {text-align:center;padding:10px 0 50px;}
#shopper-reviews ul.filter-order-bar {display:block;display:none;width:100%;padding:0 0 10px 0;list-style-type:none;}
#shopper-reviews ul.filter-order-bar li {display:-moz-inline-box;display:inline-block;}
#shopper-reviews ul.filter-order-bar li.label {padding-left:10px;margin-right:10px;border-left:1px dotted #666;}
#shopper-reviews ul.filter-order-bar li.space {padding-right:20px;}
#shopper-reviews ul.filter-order-bar li.total {padding-left:10px;margin-left:10px;border-left:1px dotted #666;}
#shopper-reviews ul.filter-order-bar li a.btn-small {padding:0 12px;}
.shopper-review img.avatar {display:inline;float:left;margin-right:15px;}
.shopper-review .content {display:inline;float:left;width:100%;max-width:550px;margin-top:5px;margin-bottom:5px;}
.shopper-review h4 {font-size:15px;margin-bottom:0 !important;line-height:1em;font-weight:600;text-transform:none;}
.happy .shopper-review h4 {color:#4c5059;}
.shopper-review h4 img {vertical-align:-3px;}
.shopper-review h4 b {font-weight:normal;margin-right:10px;}
.shopper-review h4 .stars {display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;white-space:nowrap;margin-bottom:5px;}
.shopper-review .review-title {display:block;padding:12px 0 10px 0;}
.shopper-review .review-text {font-size:0.9em;line-height:1.6;margin:11px 0;}
.shopper-review .review-text p {}
.shopper-review .review-by {display:-moz-inline-box;display:inline-block;clear:left;float:left;margin-bottom:5px;font-size:0.8em;color:#999;}
.shopper-review .review-votes {display:inline-block;float:right;min-height:18px;margin-left:15px;margin-bottom:10px;font-size:0.8em;color:#999;text-align:right;}
.shopper-review .review-votes .feedback {white-space:nowrap;}
.shopper-review .review-voter {display:none;margin-left:15px;white-space:nowrap;}
.shopper-review .review-voter a {margin:0 0 0 6px;}
.shopper-review .delete-btns {text-align:center;padding:18px 0;}
#write-review {position:relative;width:100%;max-width:570px;padding:10px;}
#box-reviewviewer #write-review {padding:0;}
#write-review .already-given {margin:30px;padding:10px;text-align:center;font-size:1.4em;}
#write-review form {margin:0;border:0;padding:0;}
#write-review #special-message-incbox .errormsg {margin:10px 10px 0px 20px;padding:2px 10px 0px 65px;}
#write-review #special-message-incbox .close {display:none;}
#write-review #edit-notice {position:relative;width:100%;max-width:570px;padding:10px;overflow:hidden;color:#ffc821;font-weight:normal;text-align:center;}
.happy #write-review #edit-notice {color:#a55;}
#write-review #review-form {position:relative;margin:0;width:100%;max-width:570px;min-height:210px;padding:10px;overflow:hidden;}
.happy #write-review #review-form {background-color:#f8f8f8;}
#box-reviewviewer #review-form {padding:5px 5px;}
#write-review #review-form table {width:100%;max-width:530px;position:relative;margin:0;}
#write-review #review-form td {position:relative;padding:2px;}
#write-review #review-form td.ravatar {width:54px;}
#write-review .avatar {margin:2px;}
#write-review #shopper-name {line-height:32px;padding-left:4px;width:100%;max-width:230px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;font-size:1.3em;font-weight:bold;}
#write-review #rewards-note {float:right;min-height:20px;line-height:20px;margin-top:6px;padding-left:22px;background-image:url('/images/s1/icon-rewards-points.png');background-position:left 50%;background-repeat:no-repeat;font-size:10px;}
#write-review #rewards-note b {font-size:13px;}
.store1 #write-review #rewards-note {background-image:url('/images/s1/icon-rewards-points.png');}
.store2 #write-review #rewards-note {background-image:url('/images/s2/icon-rewards-points.png');}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {.store1 #write-review #rewards-note {background-image:url('/images/s1/icon-rewards-points@2x.png');background-size:21px 21px;}
.store2 #write-review #rewards-note {background-image:url('/images/s2/icon-rewards-points@2x.png');background-size:21px 21px;}}
#write-review #review-title {width:100%;font-weight:bold;font-size:13px;}
#write-review #review-text {width:100%;height:100px;font-size:13px;resize:none;}
#write-review #review-textreq {float:left;left:10px;top 0px;color:#666;}
#write-review #review-togglerules {float:right;right:10px;top 0px;color:#666;}
#review-rules-block {display:none;padding:5px 15px 15px 15px;font-size:0.9em;}
#review-rules-block.open {display:block !important;}
#review-rules-block ul {margin:8px;}
@media (max-width:480px) {#write-review #review-form {padding:5px 0 10px 0;}
#review-rules-block {padding:5px 0 15px 0;}}
#product-doratings-list {padding-top:20px;}
#product-doratings-list td.boxshot {width:128px;}
#product-doratings-list td.product {}
#product-doratings-list td.widget {text-wrap:nowrap;white-space:nowrap;width:185px;}
#product-doreviews-head {position:relative;overflow:hidden;}
#toggle-doreviews {display:-moz-inline-box !important;display:inline-block !important;-moz-box-orient:vertical;vertical-align:middle;width:72px;float:left !important;margin-right:12px;}
#product-doreviews-note {min-height:22px;line-height:22px;padding-left:22px;background-image:url('/images/s1/icon-rewards-points.png');background-size:21px 21px;background-position:0 1px;background-repeat:no-repeat;font-size:13px;font-weight:normal;}
.no-flexbox #product-doreviews-note {display:inline-block;}
.store1 #product-doreviews-note {background-image:url('/images/s1/icon-rewards-points.png');}
.store2 #product-doreviews-note {background-image:url('/images/s2/icon-rewards-points.png');}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min--moz-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {.store1 #product-doreviews-note {background-image:url('/images/s1/icon-rewards-points@2x.png');}
.store2 #product-doreviews-note {background-image:url('/images/s2/icon-rewards-points@2x.png');}}
#product-doreviews-list {padding-top:20px;}
#product-doreviews-list td.boxshot {width:128px;}
#product-doreviews-list td.product {}
@media (max-width:480px) {#product-myreviews-block td {display:block;width:100%;}
#product-doratings-list td.boxshot, #product-doreviews-list td.boxshot, #product-myreviews-block td.boxshot {display:block;width:240px;margin:0 auto;padding:10px 0;text-align:center;border:0;}
#product-doratings-list td.product, #product-doreviews-list td.product, #product-myreviews-block td.product, #product-myreviews-block td.review {display:block;padding:0 10px;text-align:center;border:0;}
#product-doratings-list td.widget, #product-doreviews-list td.action {display:block;width:auto;text-align:center;padding:10px;}
#product-doratings-list td.widget div {display:block !important;text-align:center !important;}}
ul.rating-widget {display:none;outline:0;margin:0 auto;border:0;padding:6px;max-width:160px;line-height:1em;overflow:hidden;text-align:center;}
ul.rating-widget li {display:inline;list-style-type:none;margin:0;border:0;padding:0;white-space:nowrap;}
ul.rating-widget a {display:-moz-inline-box;display:inline-block;-moz-box-orient:vertical;vertical-align:middle;padding:0 2px;width:25px;height:25px;overflow:hidden;text-decoration:none;background:url('/images/stars/star-lg-grey.png') 50% 50% no-repeat;opacity:0.6;}
ul.rating-widget a:hover {text-decoration:none;background-image:url('/images/stars/star-lg-full.png');opacity:1.0;}
ul.rating-widget .active a {text-decoration:none;background-image:url('/images/stars/star-lg-full.png');opacity:1.0;}
label.rating-result {display:block;margin:0 auto;max-width:160px;line-height:18px;text-transform:uppercase;font-weight:normal;font-size:10px;color:#aaa;letter-spacing:0.08em;text-align:center;}
#rating-select ul.rating-widget {max-width:100%;margin:0;border:0;padding:0;}
#review-rating-select label.rating-result {float:left;display:inline-block;max-width:auto;line-height:35px;margin:0 0 0 14px;}
#review-rating-select ul.rating-widget {float:left;margin:0;border:0;padding:4px 0 0 0;}
#review-rating-select ul.rating-widget a {padding:0;}
.hotprods-wrap {position:relative;display:block;text-align:left;}
.hotprods-wrap h3.tall {margin-bottom:30px;}
.hotprods-wrap h3.wide {margin-bottom:22px;}
ul.hotprods-tall {position:relative;width:100%;padding:0;list-style-type:none;list-style:none;}
ul.hotprods-tall li {position:relative;border-radius:6px;border:2px solid #202d3b;padding:8px;margin-bottom:5px;width:100%;background-color:#293747;}
ul.hotprods-tall li::after {content:"";clear:both;display:table;}
ul.hotprods-tall li:hover {border-color:#202d3b;background-color:#202d3b;}
.happy ul.hotprods-tall li {border-color:transparent;background-color:#fbfbfb;}
.happy ul.hotprods-tall li:hover {border-color:#cacaca;background-color:#fff;}
ul.hotprods-tall li .boxshot {float:left;}
ul.hotprods-tall li .details {display:block;overflow:hidden;padding:2px 5px 2px 5px;}
ul.hotprods-tall li .title {display:block;max-width:300px;margin-top:7px;font-size:1.02em;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.happy ul.hotprods-tall li .title {color:#111;}
ul.hotprods-tall li .price {}
ul.hotprods-tall li .price, ul.hotprods-tall li .was {font-weight:normal;line-height:18px;}
ul.hotprods-wide {display:block;margin:0;border:0;padding:0;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-flex-basis:auto;-ms-flex-basis:auto;flex-basis:auto;-webkit-justify-content:flex-start;-ms-flex-pack:flex-start;justify-content:flex-start;-webkit-align-items:top;-ms-flex-align:top;align-items:top;width:100%;height:100%;}
ul.hotprods-wide li {position:relative;display:-moz-inline-box;display:inline-block;float:left;background:#304052;border-radius:3px;-webkit-flex:0 1 auto;-ms-flex:0 1 auto;flex:0 1 auto;width:154px;width:calc(100% / 5 - 2.5%);margin:0 1.25% 3% 1.25%;height:auto;}
#hotproducts-block ul.hotprods-wide li {margin:0 0 4% 2.5%;}
.happy #hotproducts-block ul.hotprods-wide li {margin:1.5% 1.25% 2.5% 1.25%;}
.happy ul.hotprods-wide li {background:#f5f5f5;}
.no-flexbox ul.hotprods-wide li {float:left;width:160px;height:150px;margin:12px;}
.no-flexbox ul.hotprods-wide>:first-child {margin-left:0;}
.no-flexbox #hotproducts-block ul.hotprods-wide li {margin:16px 0 16px 25px;}
@media (min-width:757px) {ul.hotprods-wide li:nth-of-type(1n+6) {display:none;}}
@media (max-width:756px) {ul.hotprods-wide li {width:calc(100% / 3 - 2.5%);}
#hotproducts-block ul.hotprods-wide li {width:calc(100% / 4 - 2.5%);}}
@media (max-width:535px) {ul.hotprods-wide li {width:calc(100% / 3 - 2.5%) !important;}}
@media (max-width:480px) {ul.hotprods-wide li {width:calc(100% / 2 - 2.5%) !important;}}
ul.hotprods-wide li .boxhole {overflow:hidden;width:100%;border-radius:3px 3px 0 0;}
ul.hotprods-wide li .baseflap {display:block;position:relative;border-top:0;padding-bottom:3px;overflow:hidden;}
ul.hotprods-wide li .prodtitle {display:block;padding:0;margin:4px auto 4px auto;width:90%;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
ul.hotprods-wide li .costblock {display:block;padding:0;margin:4px auto 4px auto;width:90%;text-align:center;overflow:hidden;white-space:nowrap;}
ul.hotprods-wide li .costblock .price {display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-flex-basis:1;-ms-flex-basis:1;flex-basis:1;-webkit-justify-content:space-around;-ms-flex-pack:space-around;justify-content:space-around;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
ul.hotprods-wide li b.n {z-index:22;display:block;position:absolute;top:-12px;left:-12px;width:28px;height:28px;line-height:28px;border-radius:14px;color:#666;background:#eee;text-align:center;}
