body, html {
    height: 100%;
}

.bg-reg {
    background-image: url("../images/WoK-wallpaper-2560x1600-noLogo.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #808080
}

.bg-log {
    background-image: url("../images/Chasm Kata.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #808080
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.signup-content {
    margin: 3em 13em;
    background-color: rgba(255,255,255,0.75);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 30px 30px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px; }

.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
    color: #808080;
    font-family: 'Zen Dots', cursive !important;
}

input.text, input[type='text'], input[type='email'], input[type='password'], input[type='file'], input[type='date'], textarea.form-control, .form-control, input#searchInput.form-control {
    border: solid 1px rgba(255,255,255,0.2);
    padding: 5px 7px;
    background: rgba(0,0,0,0.3);
    border-radius: 3px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 1.0em;
    color: #eee;
}

#side-bar:hover {
    background-color: #ddd;
}

/*.nav-item a:active {
    background-color: white !important;
    color: white !important;
}*/

#update-profile-button {
    color: white;
    background: #1B6EC2;
}

#Input_PhoneNumber {
    padding: 5px 7px;
}

img {
    line-height: 140px;
    text-align: center;
}

.card {
    padding: 0.5em;
    width: 15rem;
    background: #304052 !important;
}
