@model GameTagAdminInputModel

@{
    this.ViewBag.Title = "Create";
    var tagItems = this.Model.TagsItems.Select(x => new SelectListItem(x.Value, x.Key));
    var gameItems = this.Model.GamesItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<h1>this.ViewBag.Title</h1>

<h4>GameTag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="GameId"></label>
                <select asp-for="GameId" class="form-control" asp-items="gameItems">
                    <option value="">Select game</option>
                </select>
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TagId"></label>
                <select asp-for="TagId" class="form-control" asp-items="tagItems">
                    <option value="">Select tag</option>
                </select>
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
