@using Journey.Common

@model NewsPostViewModel

@{ this.ViewBag.Title = Model.Title; }

<div class="container">
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> @Model.CreatedOn.ToString("MMMM dd, yyyy")</li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li><i class="fas fa-pencil-alt"></i> <a asp-area="Administration" asp-controller="NewsPosts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a></li>
            }
        </ul>

    </div>
    @Html.Raw(Model.Content)
    <br />

</div>