@model Journey.Web.ViewModels.Games.SingleGameViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" asp-append-version="true">
<link href="~/css/gamestore_globalweb.css" rel="stylesheet" asp-append-version="true">

<link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />


<div id="core-rib" class="contained">
    <section id="core-guts" class="stringy fatty">


        <h2 id="core-guts-title"><span class="supported"><b><img src="/images/icon-platform-lt-win.svg" /></b></span>DRAGON BALL XENOVERSE 2</h2>
        <div class="rift nuts">
            <div id="detail-badge" class="boxed">

                <div class="boxhole img16x9" title="@Model.Title"><img src="/images_boxshots/master/dragon-ball-xenoverse-2-1548950464.jpg" srcset="/images_boxshots/master/dragon-ball-xenoverse-2-1548950464.jpg 512w,/images_boxshots/352x198/dragon-ball-xenoverse-2-1548950464.jpg 352w,/images_boxshots/256x144/dragon-ball-xenoverse-2-1548950464.jpg 256w,/images_boxshots/240x135/dragon-ball-xenoverse-2-1548950464.jpg 240w,/images_boxshots/128x72/dragon-ball-xenoverse-2-1548950464.jpg 128w" sizes="360px" alt="DRAGON BALL XENOVERSE 2" class="boxpid-7025" /></div>
                <div id="price-bar" class="wabit">
                    <div class="normal"><span class="price"><em><i>$</i>49.99</em></span></div>
                </div>
                <div id="buy-bar"><a class="btn-buy add-to-cart" data-pid="7025" data-box="/images_boxshots/240x135/dragon-ball-xenoverse-2-1548950464.jpg" data-hov="Add to Cart" href="https://www.wingamestore.com/buy/7025/" rel="nofollow"><label>Add to Cart</label><span class="hovit"></span></a></div>
                <div id="dual-bar">
                    <div id="wish-bar"><a id="wishlist-btn" class="btn wish-action" data-pid="7025" data-onhref="https://www.wingamestore.com/myaccount-wishlist/" data-offhref="https://www.wingamestore.com/product/7025/DRAGON-BALL-XENOVERSE-2/?AddProductToWishList=7025" data-offtxt="Wish It" data-ontxt="On List" href="https://www.wingamestore.com/product/7025/DRAGON-BALL-XENOVERSE-2/?AddProductToWishList=7025" rel="nofollow"><label>Wish It</label></a><a id="wishlist-btn-drop" class="wish-action hide" data-mbtn="wishlist-btn" href="#" rel="nofollow">X</a></div>
                </div>
            </div>
        </div>
        <div id="detail-media" class="antiboxed raft">
            <div id="roundabout-wrap">
                <ul id="roundabout">
                    <li class="video" relid="0" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51828.jpeg">
                        <div class="v16x9 local">
                            <video class="local-player" preload="none" poster="/images_screenthumbs/dragon-ball-xenoverse-2-51828.jpeg" controls>
                                <source src="https://cdn1.macgamestore.com/d2/trailers/Dragon_Ball_XENOVERSE_2_Trailer.m4v" type="video/m4v">
                                <source src="https://cdn1.macgamestore.com/d2/trailers/Dragon_Ball_XENOVERSE_2_Trailer.m4v" type="video/mp4">
                                <h4>Unsupported Browser</h4>
                            </video>
                        </div>
                    </li>
                    <li class="shot" relid="1" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51819.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51819.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51819.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 1" /></a></li>
                    <li class="shot" relid="2" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51820.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51820.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51820.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 2" /></a></li>
                    <li class="shot" relid="3" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51821.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51821.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51821.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 3" /></a></li>
                    <li class="shot" relid="4" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51822.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51822.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51822.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 4" /></a></li>
                    <li class="shot" relid="5" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51823.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51823.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51823.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 5" /></a></li>
                    <li class="shot" relid="6" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51824.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51824.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51824.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 6" /></a></li>
                    <li class="shot" relid="7" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51825.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51825.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51825.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 7" /></a></li>
                    <li class="shot" relid="8" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51826.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51826.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51826.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 8" /></a></li>
                    <li class="shot" relid="9" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51827.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51827.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51827.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 9" /></a></li>
                    <li class="shot" relid="10" data-thumb="/images_screenthumbs/dragon-ball-xenoverse-2-51828.jpeg"><a rel="shots" href="/images_screenshots/dragon-ball-xenoverse-2-51828.jpeg"><img src="/images_screenthumbs/dragon-ball-xenoverse-2-51828.jpeg" alt="DRAGON BALL XENOVERSE 2 Screenshot 10" /></a></li>
                </ul>
            </div>
        </div>
        <div class="rift nuts">

            <div id="detail-bits" class="boxed txtlinks">
                <table>
                    <tbody>
                        <tr>
                            <th>Release Date</th>
                            <td>4/4/2017</td>
                        </tr>
                        <tr>
                            <th>Genre</th>
                            <td><a href="https://www.wingamestore.com/category/1/Action/">Action</a></td>
                        </tr>
                        <tr>
                            <th>Publisher</th>
                            <td><a href="https://www.wingamestore.com/publisher/912/BANDAI-NAMCO-Entertainment/">BANDAI NAMCO Entertainment</a></td>
                        </tr>
                        <tr>
                            <th>DRM</th>
                            <td>Steam&nbsp;&nbsp;<img class="img-dk fadeshift" src="/images/icon-serialfor-steam.png" width="13" height="13" title="Buyers receive a key for Steam to redeem, install &amp; play" /><img class="img-lt fadeshift" src="/images/icon-serialfor-steam-lt.png" width="13" height="13" title="Buyers receive a key for Steam to redeem, install &amp; play" /></td>
                        </tr>
                        <tr>
                            <th>Includes</th>
                            <td>Single-player<br>Multi-player<br>Co-op<br>Full Controller Support</td>
                        </tr>
                        <tr>
                            <th>Languages</th>
                            <td>English<br> French<br> Italian<br> German<br> Spanish<br> Polish<br> Portuguese-Brazil<br> Russian<br> Japanese<br> Traditional Chinese<br> Korean<br> Simplified Chinese</td>
                        </tr>
                    </tbody>
                </table>
                <span class="non-humans"><a href="https://www.wingamestore.com/product/7025/DRAGON-BALL-XENOVERSE-2/" title="Windows Game of DRAGON BALL XENOVERSE 2"><img src="/images/icon-platform-lt-win.png" width="12" height="12" /></a></span>
            </div>
        </div>
        <div id="detail-main" class="boxed raft">
            <h3>Description</h3>
            <div id="textinfo-section">
                <div class="guts txtlinks wabit">
                    <div id="main-description" class="section txtlists">DRAGON BALL XENOVERSE 2 builds upon the highly popular DRAGON BALL XENOVERSE with enhanced graphics that will further immerse players into the largest and most detailed Dragon Ball world ever developed.<br /><br />DRAGON BALL XENOVERSE 2 will deliver a new hub city and the most character customization choices to date among a multitude of new features and special upgrades.</div>
                    <div id="main-features" class="section">
                        <h3>Features:</h3>
                        <ul>
                            <li>Relive the Dragon Ball story by time traveling and protecting historic moments in the Dragon Ball universe</li>
                            <li>Brand new hub city more than 7X the size of the original game with 300 players online at the same time</li>
                            <li>Next-gen visuals bring the Dragon Ball anime experience to life</li>
                            <li>New characters and boss fights</li>
                            <li>More in depth character creation system and battle adjustments</li>
                            <li>Post launch support for one year</li>
                        </ul>
                    </div>
                    <div id="main-fineprint" class="section">©BIRD STUDIO / SHUEISHA, TOEI ANIMATION<br />Game © 2016 BANDAI NAMCO Entertainment Inc.</div>
                </div>
            </div>
        </div>

        <div id="detail-sysreqs" class="boxed raft">



            <h3 id="requirements-section">Requirements</h3><div class="section wabit">
                <table id="requiretextssingle-win" class="reqtextstable platform-win" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <thead><tr><th class="plathead" nowrap>Windows Requirements:</th></tr></thead>
                    <tbody>
                        <tr>
                            <td class="valign-t" valign="top">
                                <div class="split">
                                    <div class="side">
                                        <h6>MINIMUM:</h6>OS: Windows 7 and higher (64 bit only)<br />
                                        Processor: AMD Phenom II X2 550, 3.1GHz | Intel Pentium G4400, 3.30GHz<br />
                                        Memory: 2 GB RAM<br />
                                        Graphics: GeForce GT 650 | Radeon HD 6570<br />
                                        DirectX: Version 11<br />
                                        Network: Broadband Internet connection<br />
                                        Additional Notes: For Windows 7, service pack 1 is required
                                    </div><div class="side">
                                        <h6>RECOMMENDED:</h6>OS: Windows 10 (64 bit only)<br />
                                        Processor: Intel Core i5-3470, 3.20GHz | AMD FX-6300, 3.5Ghz<br />
                                        Memory: 4 GB RAM<br />
                                        Graphics: GeForce GT 660 | Radeon HD 7770<br />
                                        DirectX: Version 11<br />
                                        Network: Broadband Internet connection
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody><tr><td class="valign-t" valign="top"><ul><li>Requires Steam and a Steam Account to play Windows version.</li></ul></td></tr></tbody>
                </table>
            </div><center></center>
        </div><div id="detail-rrc" class="boxed raft">
            <h3 id="reviews-section">Reviews &amp; Comments</h3><div id="detail-reviews" class="wabit">
                <div id="side-ratings">
                    <div id="slide-wrap">
                        <div id="ratings-average-container"><div id="ratings-average"><div class="numbox rc0">0</div><div class="starbox"><span class="stars-lg notyet"><img src="/images/stars/star-lg-grey.png" srcset="/images/stars/star-lg-grey@2x.png 2x" alt="" title="Not Yet Rated" /><img src="/images/stars/star-lg-grey.png" srcset="/images/stars/star-lg-grey@2x.png 2x" alt="" title="Not Yet Rated" /><img src="/images/stars/star-lg-grey.png" srcset="/images/stars/star-lg-grey@2x.png 2x" alt="" title="Not Yet Rated" /><img src="/images/stars/star-lg-grey.png" srcset="/images/stars/star-lg-grey@2x.png 2x" alt="" title="Not Yet Rated" /><img src="/images/stars/star-lg-grey.png" srcset="/images/stars/star-lg-grey@2x.png 2x" alt="" title="Not Yet Rated" /></span></div><div class="numratings">From 0 Shoppers</div></div><div id="ratings-breakout" data-rc1="0%" data-rc2="0%" data-rc3="0%" data-rc4="0%" data-rc5="0%"><table border="0" cellspacing="0" cellpadding="0" width="100%" class="nomargin nopad"> <tr><td class="ml align-l" align="left">5<img src="/images/stars/star-sm-grey.png" srcset="/images/stars/star-sm-grey@2x.png 2x" alt="" title="5 star"></td>	<td class="bar align-l"><div><span class="rc5">&nbsp;</span></div></td>	<td class="mr align-r" align="right">0</td></tr><tr><td class="ml align-l" align="left">4<img src="/images/stars/star-sm-grey.png" srcset="/images/stars/star-sm-grey@2x.png 2x" alt="" title="4 star"></td>	<td class="bar align-l"><div><span class="rc4">&nbsp;</span></div></td>	<td class="mr align-r" align="right">0</td></tr><tr><td class="ml align-l" align="left">3<img src="/images/stars/star-sm-grey.png" srcset="/images/stars/star-sm-grey@2x.png 2x" alt="" title="3 star"></td>	<td class="bar align-l"><div><span class="rc3">&nbsp;</span></div></td>	<td class="mr align-r" align="right">0</td></tr><tr><td class="ml align-l" align="left">2<img src="/images/stars/star-sm-grey.png" srcset="/images/stars/star-sm-grey@2x.png 2x" alt="" title="2 star"></td>	<td class="bar align-l"><div><span class="rc2">&nbsp;</span></div></td>	<td class="mr align-r" align="right">0</td></tr><tr><td class="ml align-l" align="left">1<img src="/images/stars/star-sm-grey.png" srcset="/images/stars/star-sm-grey@2x.png 2x" alt="" title="1 star"></td>	<td class="bar align-l"><div><span class="rc1">&nbsp;</span></div></td>	<td class="mr align-r" align="right">0</td></tr></table></div></div>
                        <div id="rating-select" class="js-show"><label id="id_rating-result-7025" class="rating-result" data-deflabel="">Select Your Rating</label><ul id="id_rating-widget-7025" class="rating-widget" data-pid="7025" data-qid="713656" data-cur="0"><li><a href="#submit-rating-1" rel="nofollow">&nbsp;</a></li><li><a href="#submit-rating-2" rel="nofollow">&nbsp;</a></li><li><a href="#submit-rating-3" rel="nofollow">&nbsp;</a></li><li><a href="#submit-rating-4" rel="nofollow">&nbsp;</a></li><li><a href="#submit-rating-5" rel="nofollow">&nbsp;</a></li></ul><noscript>Turn On Javascript</noscript></div>
                        <div id="review-status" class="js-show"><a class="btn-small review-allowed open-review-form">Submit a review...</a></div><sub class="flipr click-area"></sub>
                    </div>
                </div>

                <div id="shopper-reviews" class="section">

                    <div class="noreviews t3 light">No reviews to list at this time.</div>
                    <div class="noreviews-write t3 light txtlinks">
                        Be the first to <a class="open-review-form txt alert-on-req" href="#" rel="nofollow">submit a review</a>!
                    </div>
                </div>

                <div id="review-btns"></div><div class="hidden">
                    <div id="write-review" class="wabit">
                        <form id="id_SubmitReviewForm" class="standard ffocus" method="post" action="https://www.wingamestore.com/product/7025/DRAGON-BALL-XENOVERSE-2/">
                            <input id="id_ReviewRating" type="hidden" name="rating" value="0" />
                            <input type="hidden" name="pid" value="7025" />
                            <input type="hidden" name="non-js" value="" />
                            <input type="hidden" name="edit" value="" />
                            <input type="hidden" name="write" value="" />
                            <input type="hidden" name="keychain" value="ufeb4Q-tgvhT3-bRIAuy" />
                            <input type="hidden" name="act_SubmitReview" value="" />

                            <div id="special-message-incbox" class="initially-hidden"></div>
                            <div id="review-form-errors" class="initially-hidden">
                                <div class="errormsg">
                                    <span class="rating message"><br>Don't forget to select your rating!<br></span>
                                    <span class="titletxt message">Please enter a review title for your submission.<br></span>
                                    <span class="bodytxt message">You must write a full review to submit. Use the forum for questions or discussions.<br></span>
                                </div>
                            </div>

                            <div id="review-form">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="ravatar valign-t" rowspan="2"><img class="avatar" src="/images_avatars/letters/violet/s.png" width="50" height="50" alt="" title="" /></td>
                                            <td class="rrating"><div id="rewards-note" title="Earn reward points by writing reviews for games you purchase on WinGameStore!">Not purchased</div><div id="shopper-name">Stefan Denchev</div><div id="review-rating-select"></div></td>
                                        </tr>
                                        <tr>
                                            <td class="rtitle"><input id="review-title" type="text" name="tgvhT3" value="" placeholder="review title" /></td>
                                        </tr>
                                        <tr>
                                            <td class="rbody" colspan="2"><textarea id="review-text" name="bRIAuy" rows="6"></textarea></td>
                                        </tr>
                                        <tr>
                                            <td class="rreqs align-c wabit" colspan="2">
                                                <label id="review-textreq">10 word minimum</label>
                                                <label id="review-togglerules"><a class="txt" href="#">Rules &amp; Regulations</a></label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="rbtns align-c" colspan="2">
                                                <input class="formsubmit btn-small" type="submit" name="btn_SubmitReview" value="Submit Review">
                                                <a class="formsubmit btn-small" href="https://www.wingamestore.com/product/7025/DRAGON-BALL-XENOVERSE-2/" data-act="act_SubmitReview">Submit Review</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </form>
                        <div id="review-rules-block">
                            Rules &amp; Regulations for writing an approved review:
                            <ul class="normal">
                                <li>No excessive profanity, vulgar or abusive language.</li>
                                <li>Write reviews about the GAME at hand, not something else.</li>
                                <li>Negative reviews stating a game no longer works on a new OS, will be deleted.</li>
                                <li>Do not attack the store or another shopper's opinion.</li>
                                <li>Do not ask for help or support (please use support for questions).</li>
                                <li>No spamming (game reviews must be about the GAME).</li>
                            </ul>
                            WinGameStore reserves the right to alter or reject any review for reasons above or otherwise.
                            Abuse of the game review system will result in privileges revoked to rate and submit reviews.
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div id="detail-others" class="antiboxed runt">
            <h3>More By <a class="txt" href="https://www.wingamestore.com/publisher/912/BANDAI-NAMCO-Entertainment/" title="More By BANDAI NAMCO Entertainment">BANDAI NAMCO Entertainment</a></h3>
            <ul class="hotprods-wide">
                <li>
                    <div class="boxhole img16x9" title="TEKKEN 7 - Season Pass"><img src="/images_boxshots/240x135/tekken-7-season-pass-1548950674.jpg" srcset="/images_boxshots/master/tekken-7-season-pass-1548950674.jpg 512w,/images_boxshots/352x198/tekken-7-season-pass-1548950674.jpg 352w,/images_boxshots/256x144/tekken-7-season-pass-1548950674.jpg 256w,/images_boxshots/240x135/tekken-7-season-pass-1548950674.jpg 240w,/images_boxshots/128x72/tekken-7-season-pass-1548950674.jpg 128w" sizes="160px" alt="TEKKEN 7 - Season Pass" class="boxpid-7401" /></div>
                    <div class="baseflap"><span class="prodtitle">TEKKEN 7 - Season Pass</span><span class="costblock"><span class="price"><em><i>$</i>24.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/7401/TEKKEN-7-Season-Pass/" title="TEKKEN 7 - Season Pass">TEKKEN 7 - Season Pass</a>
                </li>
                <li>
                    <div class="boxhole img16x9" title="SWORD ART ONLINE Alicization Lycoris Deluxe Edition"><img src="/images_boxshots/240x135/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg" srcset="/images_boxshots/master/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg 512w,/images_boxshots/352x198/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg 352w,/images_boxshots/256x144/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg 256w,/images_boxshots/240x135/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg 240w,/images_boxshots/128x72/sword-art-online-alicization-lycoris-deluxe-edition-1594667239.jpg 128w" sizes="160px" alt="SWORD ART ONLINE Alicization Lycoris Deluxe Edition" class="boxpid-11812" /></div>
                    <div class="baseflap"><span class="prodtitle">SWORD ART ONLINE Alicization Lycoris Deluxe Edition</span><span class="costblock"><span class="price"><em><i>$</i>104.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/11812/SWORD-ART-ONLINE-Alicization-Lycoris-Deluxe-Edition/" title="SWORD ART ONLINE Alicization Lycoris Deluxe Edition">SWORD ART ONLINE Alicization Lycoris Deluxe Edition</a>
                </li>
                <li>
                    <div class="boxhole img16x9" title="Tales of Zestiria"><img src="/images_boxshots/240x135/tales-of-zestiria-1548950810.jpg" srcset="/images_boxshots/master/tales-of-zestiria-1548950810.jpg 512w,/images_boxshots/352x198/tales-of-zestiria-1548950810.jpg 352w,/images_boxshots/256x144/tales-of-zestiria-1548950810.jpg 256w,/images_boxshots/240x135/tales-of-zestiria-1548950810.jpg 240w,/images_boxshots/128x72/tales-of-zestiria-1548950810.jpg 128w" sizes="160px" alt="Tales of Zestiria" class="boxpid-7650" /></div>
                    <div class="baseflap"><span class="prodtitle">Tales of Zestiria</span><span class="costblock"><span class="price"><em><i>$</i>49.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/7650/Tales-of-Zestiria/" title="Tales of Zestiria">Tales of Zestiria</a>
                </li>
                <li>
                    <div class="boxhole img16x9" title="SD Gundam G Generation Cross Rays - Deluxe Edition"><img src="/images_boxshots/240x135/sd-gundam-g-generation-cross-rays-1572354679.jpg" srcset="/images_boxshots/master/sd-gundam-g-generation-cross-rays-1572354679.jpg 512w,/images_boxshots/352x198/sd-gundam-g-generation-cross-rays-1572354679.jpg 352w,/images_boxshots/256x144/sd-gundam-g-generation-cross-rays-1572354679.jpg 256w,/images_boxshots/240x135/sd-gundam-g-generation-cross-rays-1572354679.jpg 240w,/images_boxshots/128x72/sd-gundam-g-generation-cross-rays-1572354679.jpg 128w" sizes="160px" alt="SD Gundam G Generation Cross Rays - Deluxe Edition" class="boxpid-11057" /></div>
                    <div class="baseflap"><span class="prodtitle">SD Gundam G Generation Cross Rays - Deluxe Edition</span><span class="costblock"><span class="price"><span class="percentoff">-40<i>%</i></span><span class="was"><i>$</i>74.99</span><em><i>$</i>44.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/11057/SD-Gundam-G-Generation-Cross-Rays-Deluxe-Edition/" title="SD Gundam G Generation Cross Rays - Deluxe Edition">SD Gundam G Generation Cross Rays - Deluxe Edition</a>
                </li>
                <li>
                    <div class="boxhole img16x9" title="DARK SOULS™ III - Season Pass"><img src="/images_boxshots/240x135/dark-soulstm-iii-season-pass-1552456546.jpg" srcset="/images_boxshots/master/dark-soulstm-iii-season-pass-1552456546.jpg 512w,/images_boxshots/352x198/dark-soulstm-iii-season-pass-1552456546.jpg 352w,/images_boxshots/256x144/dark-soulstm-iii-season-pass-1552456546.jpg 256w,/images_boxshots/240x135/dark-soulstm-iii-season-pass-1552456546.jpg 240w,/images_boxshots/128x72/dark-soulstm-iii-season-pass-1552456546.jpg 128w" sizes="160px" alt="DARK SOULS™ III - Season Pass" class="boxpid-6988" /></div>
                    <div class="baseflap"><span class="prodtitle">DARK SOULS™ III - Season Pass</span><span class="costblock"><span class="price"><em><i>$</i>24.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/6988/DARK-SOULS-III-Season-Pass/" title="DARK SOULS™ III - Season Pass">DARK SOULS™ III - Season Pass</a>
                </li>
                <li>
                    <div class="boxhole img16x9" title="DRAGON BALL XENOVERSE 2 Super Pass"><img src="/images_boxshots/240x135/dragon-ball-xenoverse-2-super-pass-1557341458.jpg" srcset="/images_boxshots/master/dragon-ball-xenoverse-2-super-pass-1557341458.jpg 512w,/images_boxshots/352x198/dragon-ball-xenoverse-2-super-pass-1557341458.jpg 352w,/images_boxshots/256x144/dragon-ball-xenoverse-2-super-pass-1557341458.jpg 256w,/images_boxshots/240x135/dragon-ball-xenoverse-2-super-pass-1557341458.jpg 240w,/images_boxshots/128x72/dragon-ball-xenoverse-2-super-pass-1557341458.jpg 128w" sizes="160px" alt="DRAGON BALL XENOVERSE 2 Super Pass" class="boxpid-9985" /></div>
                    <div class="baseflap"><span class="prodtitle">DRAGON BALL XENOVERSE 2 Super Pass</span><span class="costblock"><span class="price"><span class="percentoff">-50<i>%</i></span><span class="was"><i>$</i>29.99</span><em><i>$</i>14.99</em></span></span></div>
                    <a class="overclick rad3" href="https://www.wingamestore.com/product/9985/DRAGON-BALL-XENOVERSE-2-Super-Pass/" title="DRAGON BALL XENOVERSE 2 Super Pass">DRAGON BALL XENOVERSE 2 Super Pass</a>
                </li>
            </ul>
        </div>




    </section>
</div>