@model Journey.Web.ViewModels.Games.CreateGameInputModel

<h1>Add new game</h1>


<form method="post">
    <div class="form-group">
        <label asp-for="Title" ></label>
        <label asp-for="Title" class ="form-control"></label>
        <span asp-validation-for="Title"></span>
    </div>
</form>