@model Journey.Web.ViewModels.Games.Edit.EditGameInputModel
@{
    ViewData["Title"] = "Edit game";
    var genreItems = this.Model.GenresItems.Select(x => new SelectListItem(x.Value, x.Key));
    var publisherItems = this.Model.PublisherItems.Select(x => new SelectListItem(x.Value, x.Key));
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <form method="post">
        <div class="row">
            <div class="col-10">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="IsOnSale"></label>
                    <input asp-for="IsOnSale" class="form-control" />
                    <span asp-validation-for="IsOnSale" class="text-danger"></span>
                </div>
            </div>

            @if (Model.IsOnSale)
            {
                <div class="col-2" id="Percentage">
                    <div class="form-group">
                        <label asp-for="SalePercentage"></label>
                        <input asp-for="SalePercentage" class="form-control" />
                        <span asp-validation-for="SalePercentage" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-2" id="Percentage" style="display:none">
                    <div class="form-group">
                        <label asp-for="SalePercentage"></label>
                        <input asp-for="SalePercentage" class="form-control" />
                        <span asp-validation-for="SalePercentage" class="text-danger"></span>
                    </div>
                </div>
            }

        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="GenreId"></label>
            <select asp-for="GenreId" class="form-control" asp-items="genreItems">
                <option value="">Select genre</option>
            </select>
            <span asp-validation-for="GenreId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PublisherId"></label>
            <select asp-for="PublisherId" class="form-control" asp-items="publisherItems">
                <option value="">Select publisher</option>
            </select>
            <span asp-validation-for="PublisherId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group md-col-md-6">
                    <label asp-for="MininumRequirements"></label>
                    <textarea asp-for="MininumRequirements" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="MininumRequirements" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group md-col-md-6">
                    <label asp-for="RecommendedRequirements"></label>
                    <textarea asp-for="RecommendedRequirements" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="RecommendedRequirements" class="text-danger"></span>
                </div>
            </div>
        </div>

        <hr />
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Drm" value="@Model.Drm" />
        <input type="submit" class="btn btn-success" value="Save Changes" />

    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
<script>
    $(function () {
        $('#IsOnSale').change(function () {
            $('#Percentage').toggle($(this).is(':checked'));
        });
    });
</script>