<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat - @GlobalConstants.SystemName</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/chat.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" asp-append-version="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" asp-append-version="true">

    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">
    <link rel="manifest" href="~/images/site.webmanifest">
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark">

        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link chat-nav" id="journey-title" asp-controller="Home" asp-action="Index">Go Back</a>
            </li>

            <li class="nav-item">
                <a class="nav-link chat-nav" asp-controller="Chat" asp-action="Index">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link chat-nav" asp-controller="Chat" asp-action="Find">Find</a>
            </li>

            <li class="nav-item">
                <a class="nav-link chat-nav" asp-controller="Chat" asp-action="Private">Private</a>
            </li>
        </ul>
    </nav>

    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            <vc:room></vc:room>
        }
        <div class="chat">
            @RenderBody()
        </div>
    </div>

    <div class="modal" id="create-room-modal">
        <form asp-controller="Chat" asp-action="CreateRoom" class="modal-body">
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button>Create</button>
            </footer>
        </form>
    </div>

    <script src="~/js/chat.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    @RenderSection("Scripts", false)

</body>

</html>