@using Journey.Common
@using Journey.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a></li>

                @if (!this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                 <li class="dropdown-submenu">
                    <a class="dropdown-item dropdown-toggle" href="#">Profile</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Library">Library</a></li>
                        <li><a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Orders">Orders</a></li>
                        <li><a class="dropdown-item" asp-area="Profile" asp-controller="Profile" asp-action="Payment">Payment</a></li>
                    </ul>
                 </li>
                }
            </ul>

        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-light">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>