@page
@model LoginModel

@{
    ViewData["Title"] = "Log In";
}

<link href="~/css/buttons.css" rel="stylesheet" />
<link href="~/css/regform.css" rel="stylesheet" />

<body class="bg-log">
    <div class="row signup-content">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center color text-overflow-center">@ViewData["Title"]</h2>
            <section>
                <form id="account" method="post">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Username"></label>
                        <input asp-for="Input.Username" class="form-control" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="block-center mb-3">
                        <button type="submit" class="btn_grey_grey">
                            <span class="btn_blue_steamui reg-btn">Log In</span>
                        </button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
@*                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>*@
                    </div>
                </form>
            </section>
        </div>
    </div>

</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
