@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link href="~/css/account.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />
<link href="~/css/regform.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <br />
        <h5 class="text-center">Your journey starts here</h5>
        <br />
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control" />
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="block-center">
                <button type="submit" class="btn_blue_steamui">
                    <span class="btn_blue_steamui reg-btn">Register</span>
                </button>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
