@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link href="~/css/buttons.css" rel="stylesheet" />
<link href="~/css/regform.css" rel="stylesheet" />

<body class="bg">
    <div class="row signup-content">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center color text-overflow-center">Your journey starts here</h2>
            <br />
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Login">Already have an account?</a>
                    </p>
                </div>
                <div class="block-center">
                    <button type="submit" class="btn_grey_grey">
                        <span class="btn_blue_steamui reg-btn">Register</span>
                    </button>
                </div>

            </form>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
