@model Journey.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1>@this.ViewData["Title"]</h1>
@*Settings: @this.Model.SettingsCount*@
<a class="nav-link text-light" asp-controller="Languages" asp-action="Index">Languages</a>
<a class="nav-link text-light" asp-controller="GameLanguages" asp-action="Index">GameLanguages</a>

