@model IndexViewModel

@{ this.ViewData["Title"] = "Admin dashboard"; }

<h1>@this.ViewData["Title"]</h1>
<hr />
<h3>Select category:</h3>

<a class="btn btn-info" asp-area="Home" asp-controller="Games" asp-action="Create">Add New Game</a>
<a class="btn btn-info" asp-controller="GameLanguages" asp-action="Index">GameLanguages</a>
<a class="btn btn-info" asp-controller="GameTags" asp-action="Index">GameTags</a>
<a class="btn btn-info" asp-controller="Publishers" asp-action="Index">Publishers</a>
<a class="btn btn-info" asp-controller="NewsPosts" asp-action="Index">News</a>


