@model IndexViewModel

@{ this.ViewBag.Title = "Admin dashboard"; }

<link href="~/css/buttons.css" rel="stylesheet" />

<h1>@this.ViewBag.Title</h1>
<hr />
<h3>Select category:</h3>

<div class="new-discussion-div-admin">
    <a asp-area="Home" asp-controller="Games" asp-action="Create" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
        <span>
            New Game
        </span>
    </a>

    <a asp-controller="NewsPosts" asp-action="Index" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
        <span>
            Articles
        </span>
    </a>

    <a asp-controller="GameLanguages" asp-action="Index" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
        <span>
            Languages
        </span>
    </a>

    <a asp-controller="GameTags" asp-action="Index" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
        <span>
            Tags
        </span>
    </a>

    <a asp-controller="Publishers" asp-action="Index" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
        <span>
            Publishers
        </span>
    </a>
</div>




