@{
    this.ViewData["Title"] = "About";
}

<div class="container">
    <h1 style="color: #C5C3C0">@this.ViewData["Title"]</h1>
    <hr />

    <p>
        The Journey Game Store is a Graduation Project, developed by Stefan Denchev (FN:17114092) for his bachelor's degree in the <a href="https://www.unwe.bg/en/"> University of National and World Economy</a>.
    </p>
    <p>
        The site is heavily inspired by the <a href="https://www.wingamestore.com/"> wingamestore.com</a> <i id="whoops">(Thanks for unbanning me!)</i> and most of the data for it was gathered by scraping it using <a href="https://github.com/AngleSharp/AngleSharp"> AngleSharp</a>.
    </p>
    <p>
        The foundation of the project rests on the <a href="https://github.com/NikolayIT/ASP.NET-Core-Template"> ASP.NET-Core-Template</a> by NikolayIT.
    </p>

    <hr />

    <p>
        On the user side, you can browse the entire list of games, look for the game under a particular genre or those published by a certain company. You can also search by keyword. All the results of these operations can be sorted by title and price.
    </p>
    <p>
        The site has a Wishlist and Cart funcionality as well as a basic payment system and validation for adding credit cards. The user has access to all the games they have purchased(Library) and the list of all their Orders which can be sorted by date of purchase and total price. They can also print a pseudo-receipt in JSON format.
    </p>
    <p>
        The users can also give a 5-star rating for each game and discover other games by the same publisher at the bottom of each individual game page if there are any.
    </p>

    <hr />

    <p>
        On the admin side, you can add a new game, filling the forms for its Title, Price, Description, including which languages it's translated in etc. When adding the images for the Game, there is one caveat - the image that is to be used as a main image needs to have "cover" in it's name.
    </p>
    <p>
        Additionally, you can edit the game's Title, Price, Description, Genre, Publisher and Requirements. You can also add additional languages and tags (e.g. "Crossplatform", "Co-op" etc.)
    </p>
    <p>
        Finally, the admin can add a new Publisher, if the game/s they want to add aren't by an already existing one.
    </p>

    <hr />

    <a href="https://www.unwe.bg/en/"> University of National and World Economy</a>, Sofia, Bulgaria, 2021
    
</div>
