@model HomeGamesViewModel
@using Journey.Common
@{ this.ViewBag.Title = "Home"; }

<link rel="stylesheet" href="~/assets/css/godlike.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/gamestore_subs_detail.css" asp-append-version="true">
<link rel="stylesheet" href="~/css/gamestore_globalweb.css" asp-append-version="true">

<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />


<div class="container-fluid">
    <div id="carouselHome" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner">

            <div class="carousel-item active">
                <a href="/Games/ById/572">
                    <img src="~/images/wh3.jpg" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Games/ById/570">
                    <img src="~/images/days_gone.jpg" class="d-block w-100" alt="...">
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Games/ById/571">
                    <img src="~/images/biomutant.jpg" class="d-block w-100" alt="" />
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Games/ById/573">
                    <img src="~/images/hired-gun.jpg" class="d-block w-100" alt="" />
                </a>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselHome" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselHome" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="container" id="latest">
    <partial name="_LatestPartial" model="@Model.Lastest" />
</div>

<div class="container" id="curated">
    <partial name="_CuratedPartial" model="@Model.Curated" />
</div>
