<link href="~/css/gamestore_globalweb.css" rel="stylesheet" />
<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" />



<div class="container">

    <ul class="nav navbar-nav list-inline" id="prof-nav">
        <li class="list-inline-item"><a class="nav-link" asp-action="Payment">Payment</a></li>
        <li class="list-inline-item"><a class="nav-link" asp-area="Home" asp-controller="Wishlist">Wishlist</a></li>
        <li class="list-inline-item"><a class="nav-link" asp-action="Purchases">Purchases</a></li>
        <li class="list-inline-item"><a class="nav-link" asp-action="Orders">Orders</a></li>
    </ul>

    <div id="account-guts" class="contentbox">
        <div id="tabs">
        </div><div id="ledgers-tab" class="tab-content"></div><div id="referrals-tab" class="tab-content"></div><div id="subscription-tab" class="tab-content"></div><div id="games-tab" class="tab-content loaded">
            <div id="account-games" class="wabit">
                <div id="mygames-actionbar" class="js-show wabit" style="display: block;">
                    <div class="controlbar js-show wabit" style="display: block;">

                        <h3>Your Purchased Games</h3>


                    </div>
                </div>
                <div class="list-table-scroll">

                    <table id="mygames-listing" class="list-table" cellpadding="0" cellspacing="0" border="0">

                        <tbody>
                            <tr class="list-header hide">
                                <th class="game-head" colspan="2" nowrap="">Game</th>
                                <th class="ddl-license" nowrap="">License</th>
                                <th class="ddl-info-btn" nowrap="">Service</th>
                            </tr>

                            <tr class="even">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/4901/Cities-Skylines-After-Dark/" title="Cities: Skylines - After Dark"><img src="/images_boxshots/128x72/cities-skylines-after-dark-1548946045.jpg" srcset="/images_boxshots/master/cities-skylines-after-dark-1548946045.jpg 512w,/images_boxshots/352x198/cities-skylines-after-dark-1548946045.jpg 352w,/images_boxshots/256x144/cities-skylines-after-dark-1548946045.jpg 256w,/images_boxshots/240x135/cities-skylines-after-dark-1548946045.jpg 240w,/images_boxshots/128x72/cities-skylines-after-dark-1548946045.jpg 128w" sizes="128px" alt="Cities: Skylines - After Dark" class="boxpid-4901"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/4901/Cities-Skylines-After-Dark/">Cities: Skylines - After Dark</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> FGWL9-4JV63-DKWXD</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-4901" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=4901" href="https://www.wingamestore.com/myaccount-games-detail/?pid=4901">Steam</a></td>

                            </tr>
                            <tr class="odd">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/9750/Cities-Skylines-Industries-Plus/" title="Cities: Skylines - Industries Plus"><img src="/images_boxshots/128x72/cities-skylines-industries-plus-1548952090.jpg" srcset="/images_boxshots/master/cities-skylines-industries-plus-1548952090.jpg 512w,/images_boxshots/352x198/cities-skylines-industries-plus-1548952090.jpg 352w,/images_boxshots/256x144/cities-skylines-industries-plus-1548952090.jpg 256w,/images_boxshots/240x135/cities-skylines-industries-plus-1548952090.jpg 240w,/images_boxshots/128x72/cities-skylines-industries-plus-1548952090.jpg 128w" sizes="128px" alt="Cities: Skylines - Industries Plus" class="boxpid-9750"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/9750/Cities-Skylines-Industries-Plus/">Cities: Skylines - Industries Plus</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> TBFW4-I45BD-MW2WG</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-9750" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=9750" href="https://www.wingamestore.com/myaccount-games-detail/?pid=9750">Steam</a></td>

                            </tr>
                            <tr class="even">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/7285/Cities-Skylines-Mass-Transit/" title="Cities: Skylines - Mass Transit"><img src="/images_boxshots/128x72/cities-skylines-mass-transit-1548950608.jpg" srcset="/images_boxshots/master/cities-skylines-mass-transit-1548950608.jpg 512w,/images_boxshots/352x198/cities-skylines-mass-transit-1548950608.jpg 352w,/images_boxshots/256x144/cities-skylines-mass-transit-1548950608.jpg 256w,/images_boxshots/240x135/cities-skylines-mass-transit-1548950608.jpg 240w,/images_boxshots/128x72/cities-skylines-mass-transit-1548950608.jpg 128w" sizes="128px" alt="Cities: Skylines - Mass Transit" class="boxpid-7285"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/7285/Cities-Skylines-Mass-Transit/">Cities: Skylines - Mass Transit</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> 637MH-NGLD9-PYCZK</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-7285" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=7285" href="https://www.wingamestore.com/myaccount-games-detail/?pid=7285">Steam</a></td>

                            </tr>
                            <tr class="odd">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/11677/Crusader-Kings-III-Royal-Edition/" title="Crusader Kings III: Royal Edition"><img src="/images_boxshots/128x72/crusader-kings-iii-1589503068.jpg" srcset="/images_boxshots/master/crusader-kings-iii-1589503068.jpg 512w,/images_boxshots/352x198/crusader-kings-iii-1589503068.jpg 352w,/images_boxshots/256x144/crusader-kings-iii-1589503068.jpg 256w,/images_boxshots/240x135/crusader-kings-iii-1589503068.jpg 240w,/images_boxshots/128x72/crusader-kings-iii-1589503068.jpg 128w" sizes="128px" alt="Crusader Kings III: Royal Edition" class="boxpid-11677"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/11677/Crusader-Kings-III-Royal-Edition/">Crusader Kings III: Royal Edition</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> EM3MP-3RYNN-ZE80M</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-11677" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=11677" href="https://www.wingamestore.com/myaccount-games-detail/?pid=11677">Steam</a></td>

                            </tr>
                            <tr class="even">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/11519/Curse-of-the-Dead-Gods/" title="Curse of the Dead Gods"><img src="/images_boxshots/128x72/curse-of-the-dead-gods-1583355972.jpg" srcset="/images_boxshots/master/curse-of-the-dead-gods-1583355972.jpg 512w,/images_boxshots/352x198/curse-of-the-dead-gods-1583355972.jpg 352w,/images_boxshots/256x144/curse-of-the-dead-gods-1583355972.jpg 256w,/images_boxshots/240x135/curse-of-the-dead-gods-1583355972.jpg 240w,/images_boxshots/128x72/curse-of-the-dead-gods-1583355972.jpg 128w" sizes="128px" alt="Curse of the Dead Gods" class="boxpid-11519"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/11519/Curse-of-the-Dead-Gods/">Curse of the Dead Gods</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> QV6K4-IN8FY-D42EH</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-11519" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=11519" href="https://www.wingamestore.com/myaccount-games-detail/?pid=11519">Steam</a></td>

                            </tr>
                            <tr class="odd">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/7544/METAL-GEAR-SOLID-V-The-Definitive-Experience/" title="METAL GEAR SOLID V: The Definitive Experience"><img src="/images_boxshots/128x72/metal-gear-solid-v-the-definitive-experience-1548950751.jpg" srcset="/images_boxshots/master/metal-gear-solid-v-the-definitive-experience-1548950751.jpg 512w,/images_boxshots/352x198/metal-gear-solid-v-the-definitive-experience-1548950751.jpg 352w,/images_boxshots/256x144/metal-gear-solid-v-the-definitive-experience-1548950751.jpg 256w,/images_boxshots/240x135/metal-gear-solid-v-the-definitive-experience-1548950751.jpg 240w,/images_boxshots/128x72/metal-gear-solid-v-the-definitive-experience-1548950751.jpg 128w" sizes="128px" alt="METAL GEAR SOLID V: The Definitive Experience" class="boxpid-7544"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/7544/METAL-GEAR-SOLID-V-The-Definitive-Experience/">METAL GEAR SOLID V: The Definitive Experience</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> G4WWG-C5GYQ-KI3WQ</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-7544" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=7544" href="https://www.wingamestore.com/myaccount-games-detail/?pid=7544">Steam</a></td>

                            </tr>
                            <tr class="even">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/11271/RESIDENT-EVIL-3/" title="RESIDENT EVIL 3"><img src="/images_boxshots/128x72/resident-evil-3-1578523153.jpg" srcset="/images_boxshots/master/resident-evil-3-1578523153.jpg 512w,/images_boxshots/352x198/resident-evil-3-1578523153.jpg 352w,/images_boxshots/256x144/resident-evil-3-1578523153.jpg 256w,/images_boxshots/240x135/resident-evil-3-1578523153.jpg 240w,/images_boxshots/128x72/resident-evil-3-1578523153.jpg 128w" sizes="128px" alt="RESIDENT EVIL 3" class="boxpid-11271"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/11271/RESIDENT-EVIL-3/">RESIDENT EVIL 3</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> 6F8FL-423L7-X9BZA</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-11271" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=11271" href="https://www.wingamestore.com/myaccount-games-detail/?pid=11271">Steam</a></td>

                            </tr>
                            <tr class="odd">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/8464/Stellaris-Apocalypse/" title="Stellaris: Apocalypse"><img src="/images_boxshots/128x72/stellaris-apocalypse-1589473997.jpg" srcset="/images_boxshots/master/stellaris-apocalypse-1589473997.jpg 512w,/images_boxshots/352x198/stellaris-apocalypse-1589473997.jpg 352w,/images_boxshots/256x144/stellaris-apocalypse-1589473997.jpg 256w,/images_boxshots/240x135/stellaris-apocalypse-1589473997.jpg 240w,/images_boxshots/128x72/stellaris-apocalypse-1589473997.jpg 128w" sizes="128px" alt="Stellaris: Apocalypse" class="boxpid-8464"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/8464/Stellaris-Apocalypse/">Stellaris: Apocalypse</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> EY2HI-6CL87-JWFML</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-8464" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=8464" href="https://www.wingamestore.com/myaccount-games-detail/?pid=8464">Steam</a></td>

                            </tr>
                            <tr class="even">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/6250/Stellaris-Leviathans-Story-Pack/" title="Stellaris: Leviathans Story Pack"><img src="/images_boxshots/128x72/stellaris-leviathans-story-pack-1589474052.jpg" srcset="/images_boxshots/master/stellaris-leviathans-story-pack-1589474052.jpg 512w,/images_boxshots/352x198/stellaris-leviathans-story-pack-1589474052.jpg 352w,/images_boxshots/256x144/stellaris-leviathans-story-pack-1589474052.jpg 256w,/images_boxshots/240x135/stellaris-leviathans-story-pack-1589474052.jpg 240w,/images_boxshots/128x72/stellaris-leviathans-story-pack-1589474052.jpg 128w" sizes="128px" alt="Stellaris: Leviathans Story Pack" class="boxpid-6250"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/6250/Stellaris-Leviathans-Story-Pack/">Stellaris: Leviathans Story Pack</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> 5CRKC-WC5DZ-T3JBY</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-6250" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=6250" href="https://www.wingamestore.com/myaccount-games-detail/?pid=6250">Steam</a></td>

                            </tr>
                            <tr class="odd">
                                <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/7921/Stellaris-Synthetic-Dawn-Story-Pack/" title="Stellaris: Synthetic Dawn Story Pack"><img src="/images_boxshots/128x72/stellaris-synthetic-dawn-story-pack-1589474096.jpg" srcset="/images_boxshots/master/stellaris-synthetic-dawn-story-pack-1589474096.jpg 512w,/images_boxshots/352x198/stellaris-synthetic-dawn-story-pack-1589474096.jpg 352w,/images_boxshots/256x144/stellaris-synthetic-dawn-story-pack-1589474096.jpg 256w,/images_boxshots/240x135/stellaris-synthetic-dawn-story-pack-1589474096.jpg 240w,/images_boxshots/128x72/stellaris-synthetic-dawn-story-pack-1589474096.jpg 128w" sizes="128px" alt="Stellaris: Synthetic Dawn Story Pack" class="boxpid-7921"></a></td>
                                <td class="game"><a href="https://www.wingamestore.com/product/7921/Stellaris-Synthetic-Dawn-Story-Pack/">Stellaris: Synthetic Dawn Story Pack</a></td>
                                <td class="ddl-license"><span>Steam Key:</span><b> WYB7T-AIXPR-ZEL0K</b></td>
                                <td class="ddl-info-btn" nowrap=""><a id="ddl-info-7921" class="btn-mini popbox cboxElement" data-popw="620" data-popref="https://www.wingamestore.com/myaccount-games-detail/?pid=7921" href="https://www.wingamestore.com/myaccount-games-detail/?pid=7921">Steam</a></td>

                            </tr>


                        </tbody>
                    </table>

                </div>

            </div>
        </div>


    </div>
</div>