<link href="~/css/gamestore_globalweb.css" rel="stylesheet" />
<link href="~/css/gamestore_subs_detail.css" rel="stylesheet" />
<link href="~/css/gamestore_subs_accountarea.css" rel="stylesheet" />


<tr class="product odd">
    <td class="boxshot"><a class="boxhole img16x9" href="https://www.wingamestore.com/product/6987/DARK-SOULS-III/" title="DARK SOULS™ III"><img src="/images_boxshots/128x72/dark-soulstm-iii-1548950442.jpg" srcset="/images_boxshots/master/dark-soulstm-iii-1548950442.jpg 512w,/images_boxshots/352x198/dark-soulstm-iii-1548950442.jpg 352w,/images_boxshots/256x144/dark-soulstm-iii-1548950442.jpg 256w,/images_boxshots/240x135/dark-soulstm-iii-1548950442.jpg 240w,/images_boxshots/128x72/dark-soulstm-iii-1548950442.jpg 128w" sizes="128px" alt="DARK SOULS™ III" class="boxpid-6987"></a></td>

    <td class="details">
        <div class="product-title"><a href="https://www.wingamestore.com/product/6987/DARK-SOULS-III/">DARK SOULS™ III</a></div>
        <div class="product-type"><span class="light">Action</span></div>
    </td>

    <td class="desire"><select class="desire-inline-edit" data-pid="6987" name="desire_1"><option value="1">Must Have</option><option value="2">High</option><option value="3" selected="selected">Moderate</option><option value="4">Low</option><option value="5">Lowest</option></select></td>

    <td class="added"><div>Added</div><div>5/30/2021</div><div><a class="remove-pid" href="https://www.wingamestore.com/myaccount-wishlist/?drop=6987" title="Click to remove this product from your wishlist">(remove)</a></div></td>

    <td class="cost" nowrap=""><div class="wabit"><a class="btn-buy add-to-cart subtle" data-pid="6987" data-box="/images_boxshots/240x135/dark-soulstm-iii-1548950442.jpg" data-hov="Add" href="https://www.wingamestore.com/buy/6987/" rel="nofollow"><label><span class="price"><em><i>$</i>59.99</em></span></label><span class="hovit">Add</span></a></div><div class="added"><div>Added</div><div>5/30/2021</div><div><a class="remove-pid" href="https://www.wingamestore.com/myaccount-wishlist/?drop=6987" title="Click to remove this product from your wishlist">(remove)</a></div></div></td>
</tr>