@model ForumViewModel
@{
    this.ViewData["Title"] = "Forum";
}

<link href="~/css/forums.css" rel="stylesheet" />
<link href="~/css/discussions.css" rel="stylesheet" />
<link href="~/css/buttons.css" rel="stylesheet" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper">

                <div class="new-discussion-div">
                    <a asp-controller="Posts" asp-action="Create" class="btn_darkblue_white_innerfade btn_medium responsive_OnClickDismissMenu">
                        <span>
                            Start a New Discussion
                        </span>
                    </a>
                </div>

                <h2 class="discussion_primary_header">
                    Journey Forums
                </h2>
                <div class="discussions_forumlist_header">
                    <div class="discussions_forumlist_topiccount">
                        DISCUSSIONS
                    </div>
                    <div class="discussions_forumlist_lastpost">
                        LAST POST
                    </div>
                    <div class="">
                        FORUM
                    </div>
                </div>
                @foreach (var category in Model.Categories)
                {
                    <div class="discussions_forum_row">
                        <div class="discussions_forumlist_linkoverlay">
                            <a asp-action="ByTitle" asp-route-title="@category.Title">
                                <img src="https://community.akamai.steamstatic.com/public/images/trans.gif">
                            </a>
                        </div>
                        <div class="discussions_forumlist_topiccount">
                            @category.ForumPostsCount
                        </div>
                        <div class="discussions_forumlist_lastpost">
                            <span title="">x minutes ago</span>
                        </div>
                        <div class="discussions_forumlist_content">
                            <div class="discussions_forumlist_icon">
                                <img src="https://community.akamai.steamstatic.com/public/images/skin_1/forum_topicicon_unread.png">
                            </div>
                            <div class="discussions_forumlist_forumname no_description ellipsis">
                                @category.Title
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
