@using Journey.Common
@model GameViewModel
@{
    this.ViewData["Title"] = "GameDetails";
}

<title>@Model.Title</title>
<h1>@Model.Price</h1>
<h1>@Model.Description</h1>
<h1>@Model.ReleaseDate.ToString("dd-MM-yyyy")</h1>


