@model IEnumerable<Game>
@using Journey.Data.Models

@{ ViewBag.Title = "Game List"; }

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            @Html.PartialAsync("_GameTilePartial", item)
        }
    </div>
</div>